N8N_WORKFLOWS/fZMsHTY8ISXnudQj.json
{
  "updatedAt": "2026-04-01T17:39:39.473Z",
  "createdAt": "2026-02-05T00:33:05.372Z",
  "id": "fZMsHTY8ISXnudQj",
  "name": "transcribe voiceover",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"channelsFolderPath\": \"\",\n  \"channelName\": \"\",\n  \"videoFolderName\": \"\"\n}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        64,
        352
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Grkg9t9XC9y7v5Se",
          "mode": "list",
          "cachedResultUrl": "/workflow/Grkg9t9XC9y7v5Se",
          "cachedResultName": "execute command works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "command": "=python {{ $('Start').first().json.channelsFolderPath }}/SCRIPTS/AudioScripts/Transcriber/transcribe.py --mainFolderPath {{ $('Start').first().json.channelsFolderPath }}/ --channelName {{ $('Start').first().json.channelName }} --videoFolderName {{ $('Start').first().json.videoFolderName }} --device cuda --language {{ $('get all workflow params').first().json.channelLanguage }} --chunkLimit {{ $('get all workflow params').first().json.textPartsLength }} --asrWorkers 1 --minIndexChars 35 {{ (()=>{\nif ($('get all workflow params').first().json.videoCreationMode == \"manga\"){\n  return '--textPartsPath \"' + $('Start').first().json.channelsFolderPath + '/' + $('Start').first().json.channelName + '/VIDEOS/' + $('Start').first().json.videoFolderName + '/manga/<MANGA NAME>/mangaTree.json\" --mode manga'\n}\nelse return ''\n})() }}"
          },
          "matchingColumns": [
            "command"
          ],
          "schema": [
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1136,
        -16
      ],
      "name": "execute command works",
      "id": "e93b2ba5-1e05-48cf-9a40-0d2ccc699f58"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/VIDEOS/{{ $('Start').first().json.videoFolderName }}/VOICE/transcript/{{ $('Start').first().json.videoFolderName }}_transcriptProgress.json",
            "fileAction": "read",
            "keysToReturn": "={{ [\"meta.progress.status\",\"meta.progress.current\",\"meta.progress.total\"] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1264,
        128
      ],
      "name": "read ready transcript",
      "id": "2a61b367-390a-4198-a86b-5624903aca92"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.meta.progress.status == \"success\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "d60c8143-431c-42fd-ae00-f85786c31554"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5ec1d134-810d-4c82-9941-feb3666d7d37",
                    "leftValue": "={{ $json.meta.progress.status == \"processing\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "943af9e6-26ab-48e3-824d-ef5e5e9f6691",
                    "leftValue": "={{ $json.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no progress file yet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dce3399f-3414-4508-9339-94a56f2d91eb",
                    "leftValue": "={{ $json.meta.progress.status == \"error\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1440,
        96
      ],
      "id": "56b86241-80e7-4aad-8fb8-ea32c2db2217",
      "name": "Switch by status"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1536,
        256
      ],
      "id": "b7c50b6b-a784-414e-80d0-ed53d04e6e37",
      "name": "Wait",
      "webhookId": "e8358e3c-9375-49e1-abb9-588c5b6a8520"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/VIDEOS/{{ $('Start').first().json.videoFolderName }}/videoStatus.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ {\n\"transcriptReady\":true\n} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1744,
        128
      ],
      "name": "set voiceover ready",
      "id": "b1cb5b2f-5ee5-44ac-927c-ea720dd242bb"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        128
      ],
      "id": "f2c3afcf-ff72-4d5e-b6e5-8d1dcc04141d",
      "name": "Wait1",
      "webhookId": "a072c55a-2b26-4063-949e-02226320abf6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/settings.json",
            "fileAction": "read",
            "keysToReturn": "={{\n\n[\n\"proxyServerIP\",\n\"proxyServerPort\",\n\"textAudioAlignerRoute\",\n\n\"videoCreationMode\",\n\"textPartsLength\",\n\"channelLanguage\",\n\n\"channelLanguage\",\n\n\n\"runpodTextAudioAlignTemplateId\",\n\"runpodTextAudioAlignGPUList\",\n\"runpodCountryCodes\",\n\n\"voiceAlignmentService\"\n\n] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        256,
        352
      ],
      "name": "get all workflow params",
      "id": "08be6149-5d06-4bcc-9bd9-5ec705a4e3f6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('get all workflow params').first().json.voiceAlignmentService == 'local' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "bd6e54ad-7268-4d66-a752-fec928d83c2c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "local"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "05f0b5dd-ec4f-4145-92e9-73d552d0e0ab",
                    "leftValue": "={{ $('get all workflow params').first().json.voiceAlignmentService == 'runpod' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "runpod"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        352
      ],
      "id": "f70452ef-a0aa-47cf-bf5d-10e8b0930be9",
      "name": "voice alignment service"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('start runpod voicegen pod').last().json.podStatus == \"ready\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "97e59f12-bc59-4be5-90ae-b8377c299af1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ready"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bd134720-5585-4531-a316-a4726894744c",
                    "leftValue": "={{ $('start runpod voicegen pod').last().json.podStatus == \"terminated\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "terminated"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1056,
        528
      ],
      "id": "ebed1ffa-f013-40f6-b86d-ae7d59c36e54",
      "name": "if pod ready"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o5B3Nkoco1rF2d1h",
          "mode": "list",
          "cachedResultUrl": "/workflow/o5B3Nkoco1rF2d1h",
          "cachedResultName": "runpod works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channelsFolderPath": "={{ $('Start').first().json.channelsFolderPath }}",
            "channelName": "={{ $('Start').first().json.channelName }}",
            "videoFolderName": "={{ $('Start').first().json.videoFolderName }}",
            "method": "deployPod",
            "runpodTemplateId": "={{ $('get all workflow params').first().json.runpodTextAudioAlignTemplateId }}",
            "runpodGpuList": "={{ $('get all workflow params').first().json.runpodTextAudioAlignGPUList }}",
            "runpodCountryCodes": "={{ $('get all workflow params').first().json.runpodCountryCodes }}",
            "comfyUiRequest": "={{ {} }}",
            "index": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelsFolderPath",
              "displayName": "channelsFolderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channelName",
              "displayName": "channelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoFolderName",
              "displayName": "videoFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "comfyUiRequest",
              "displayName": "comfyUiRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "runpodTemplateId",
              "displayName": "runpodTemplateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runpodGpuList",
              "displayName": "runpodGpuList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "runpodCountryCodes",
              "displayName": "runpodCountryCodes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        528
      ],
      "id": "5d262d60-c6a9-4c3b-92ec-93489bed5483",
      "name": "start runpod voicegen pod"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o5B3Nkoco1rF2d1h",
          "mode": "list",
          "cachedResultUrl": "/workflow/o5B3Nkoco1rF2d1h",
          "cachedResultName": "runpod works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channelsFolderPath": "={{ $('Start').first().json.channelsFolderPath }}",
            "channelName": "={{ $('Start').first().json.channelName }}",
            "videoFolderName": "={{ $('Start').first().json.videoFolderName }}",
            "method": "checkFileOnJupiter",
            "runpodTemplateId": "={{ $('get all workflow params').first().json.runpodTextAudioAlignTemplateId }}",
            "runpodGpuList": "={{ [] }}",
            "runpodCountryCodes": "={{ [] }}",
            "comfyUiRequest": "={{ {} }}",
            "index": 0,
            "jupiterRequest": "={{ {\n\"filePathOnJupiter\":\"/workspace/input/\"+$('Split Out').item.json.existingFilesNames\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelsFolderPath",
              "displayName": "channelsFolderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channelName",
              "displayName": "channelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoFolderName",
              "displayName": "videoFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "comfyUiRequest",
              "displayName": "comfyUiRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "jupiterRequest",
              "displayName": "jupiterRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "runpodTemplateId",
              "displayName": "runpodTemplateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runpodGpuList",
              "displayName": "runpodGpuList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "runpodCountryCodes",
              "displayName": "runpodCountryCodes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1664,
        528
      ],
      "id": "f00702e1-d472-4252-99c1-3f0e37e0a16e",
      "name": "check file on jupiter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8d28d703-c38a-48c9-a039-7591752e7df0",
              "leftValue": "={{ $json.fileExist }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1888,
        528
      ],
      "id": "e322d7b4-4461-4b2f-bd7d-5880213bcdb7",
      "name": "If file exists"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o5B3Nkoco1rF2d1h",
          "mode": "list",
          "cachedResultUrl": "/workflow/o5B3Nkoco1rF2d1h",
          "cachedResultName": "runpod works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channelsFolderPath": "={{ $('Start').first().json.channelsFolderPath }}",
            "channelName": "={{ $('Start').first().json.channelName }}",
            "videoFolderName": "={{ $('Start').first().json.videoFolderName }}",
            "method": "uploadFileToJupiter",
            "runpodTemplateId": "={{ $('get all workflow params').first().json.runpodTextAudioAlignTemplateId }}",
            "runpodGpuList": "={{ [] }}",
            "runpodCountryCodes": "={{ [] }}",
            "comfyUiRequest": "={{ {} }}",
            "index": 0,
            "jupiterRequest": "={{ {\n\"filePathOnJupiter\":\"/workspace/input/\"+$('Split Out').item.json.existingFilesNames,\n\"localFilePath\":$('Start').item.json.channelsFolderPath+'/'+$('Start').item.json.channelName+'/VIDEOS/'+ $('Start').item.json.videoFolderName + '/VOICE/' + $('Split Out').item.json.existingFilesNames\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelsFolderPath",
              "displayName": "channelsFolderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channelName",
              "displayName": "channelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoFolderName",
              "displayName": "videoFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "comfyUiRequest",
              "displayName": "comfyUiRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "jupiterRequest",
              "displayName": "jupiterRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "runpodTemplateId",
              "displayName": "runpodTemplateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runpodGpuList",
              "displayName": "runpodGpuList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "runpodCountryCodes",
              "displayName": "runpodCountryCodes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1984,
        624
      ],
      "id": "1921c41e-40a6-4bd6-877b-d845d564f2e2",
      "name": "upload file to jupiter"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o5B3Nkoco1rF2d1h",
          "mode": "list",
          "cachedResultUrl": "/workflow/o5B3Nkoco1rF2d1h",
          "cachedResultName": "runpod works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channelsFolderPath": "={{ $('Start').first().json.channelsFolderPath }}",
            "channelName": "={{ $('Start').first().json.channelName }}",
            "videoFolderName": "={{ $('Start').first().json.videoFolderName }}",
            "method": "checkFileOnJupiter",
            "runpodTemplateId": "={{ $('get all workflow params').first().json.runpodTextAudioAlignTemplateId }}",
            "runpodGpuList": "={{ [] }}",
            "runpodCountryCodes": "={{ [] }}",
            "comfyUiRequest": "={{ {} }}",
            "index": 0,
            "jupiterRequest": "={{ {\n\"filePathOnJupiter\":\"/workspace/input/\"+$('Split Out').item.json.existingFilesNames\n} }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelsFolderPath",
              "displayName": "channelsFolderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channelName",
              "displayName": "channelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoFolderName",
              "displayName": "videoFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "comfyUiRequest",
              "displayName": "comfyUiRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "jupiterRequest",
              "displayName": "jupiterRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "runpodTemplateId",
              "displayName": "runpodTemplateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runpodGpuList",
              "displayName": "runpodGpuList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "runpodCountryCodes",
              "displayName": "runpodCountryCodes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2256,
        720
      ],
      "id": "6a40d402-139e-4794-9fcf-cc0a71008723",
      "name": "check file on jupiter1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8d28d703-c38a-48c9-a039-7591752e7df0",
              "leftValue": "={{ $json.fileExist }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2448,
        720
      ],
      "id": "85228338-9dd0-49e9-927f-cb5519dc3233",
      "name": "If file exists1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2080,
        720
      ],
      "id": "a35d53d9-8519-4550-bc5a-6ae95332bc43",
      "name": "Wait2",
      "webhookId": "77c3b5b3-c289-4078-96d2-b269790364ef"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "fileExist"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2912,
        528
      ],
      "id": "92862c68-fcfa-4f50-9e67-0021faf3dcc2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1f632fe-f33b-4def-b20b-a85cfb57dc8f",
              "leftValue": "={{ $json.fileExist.filter(item => true).length == $('get voiceover file names').item.json.existingFilesNames.length }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3088,
        528
      ],
      "id": "ec131de0-21a0-4c49-960b-58d018400236",
      "name": "If All Ready"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "N2bXusYBgofvRBlH",
          "mode": "list",
          "cachedResultUrl": "/workflow/N2bXusYBgofvRBlH",
          "cachedResultName": "check files quantity in directory"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "expectedFilesCount": "={{ -1 }}",
            "directoryPath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/VIDEOS/{{ $('Start').first().json.videoFolderName }}/VOICE",
            "fileExtentionToSearch": ".mp3"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "directoryPath",
              "displayName": "directoryPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileExtentionToSearch",
              "displayName": "fileExtentionToSearch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileNameToSearch",
              "displayName": "fileNameToSearch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "expectedFilesCount",
              "displayName": "expectedFilesCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1296,
        528
      ],
      "id": "2ae635bd-e9ad-4f07-8bb1-ce2ee67ef45a",
      "name": "get voiceover file names"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb62633-4973-457b-9ff6-82b7e234c67c",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=http://{{ $('get all workflow params').first().json.proxyServerIP }}:{{ $('get all workflow params').first().json.proxyServerPort }}/{{ $('get all workflow params').first().json.textAudioAlignerRoute }}",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\n\"X-Request-ID\": $('get random ID1').item.json.id,\n\"X-Product-Key\" : $('get product key').first().json.productKey\n} }}",
              "type": "object"
            },
            {
              "id": "e1e36b2f-2306-4a01-9df3-a635fe4627cf",
              "name": "body",
              "value": "={{ \n{\n  \"podId\": $('read pod id').item.json.podMeta.id,\n  \"alignmentPort\": \"8091\",\n  \"autoRetry\": true,\n  \"maxRetries\": 1,\n  \"timeoutSeconds\": 120,\n  \"alignmentRequest\": {\n    \"backend\": \"whisperx\",\n    \"channelName\": \"n8n\",\n    \"videoFolderName\": $('get product key').first().json.productKey,\n    \"device\": \"cuda\",\n    \"language\": $('get all workflow params').first().json.channelLanguage,\n    \"text\": $('get whole text from TXT file').item.json.text,\n    \"audioPaths\": $('get voiceover file names').item.json.existingFilesNames.map(i => \"/workspace/input/\" + i),\n    \"mode\": \"default\",\n    \"chunkLimit\": $('get all workflow params').first().json.textPartsLength,\n    \"asrWorkers\": 1,\n    \"minIndexChars\": 35\n  }\n}\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3888,
        528
      ],
      "id": "d16a4ff4-1420-4011-9150-685a09919819",
      "name": "form transcription request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6429e785-fed5-416f-8bc9-01d45fc6e3cb",
              "name": "id",
              "value": "={{ (()=>{\n  // 1) ТУТ ПРОСТО ВСТАВЛЯЕШЬ ЧТО ХОЧЕШЬ\n  const varsForId = [\n    $('get whole text from TXT file').item.json.text,\n    $('get voiceover file names').item.json.existingFilesNames\n  ];\n\n  // 2) нормализуем значения -> одна строка\n  function stable(v){\n    if (v === null || v === undefined) return \"\";\n    if (typeof v === \"string\") return v;\n    if (typeof v === \"number\" || typeof v === \"boolean\") return String(v);\n    if (Array.isArray(v)) return \"[\" + v.map(stable).join(\",\") + \"]\";\n    // объект: сортируем ключи для стабильности\n    const keys = Object.keys(v).sort();\n    return \"{\" + keys.map(k => JSON.stringify(k)+\":\"+stable(v[k])).join(\",\") + \"}\";\n  }\n\n  const s = varsForId.map(stable).join(\"|\");\n\n  // 3) FNV-1a 32-bit (2 раза, чтобы получить 16 hex)\n  function fnv1a32(str){\n    let h = 0x811c9dc5;\n    for (let i=0; i<str.length; i++){\n      h ^= str.charCodeAt(i);\n      h = Math.imul(h, 0x01000193);\n    }\n    return (h >>> 0);\n  }\n\n  const h1 = fnv1a32(s);\n  const h2 = fnv1a32(\"salt|\" + s);\n\n  const hex =\n    h1.toString(16).padStart(8,\"0\") +\n    h2.toString(16).padStart(8,\"0\");\n\n  return `${hex.slice(0,4)}-${hex.slice(4,8)}-${hex.slice(8,12)}-${hex.slice(12,16)}`;\n})() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3664,
        528
      ],
      "id": "dbb3a541-b18f-4e77-98a0-13b000489973",
      "name": "get random ID1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jN0HNmDZY1IKD2vM-oIO3",
          "mode": "list",
          "cachedResultUrl": "/workflow/jN0HNmDZY1IKD2vM-oIO3",
          "cachedResultName": "Text file works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/VIDEOS/{{ $('Start').first().json.videoFolderName }}/TEXTS/{{ $('Start').first().json.videoFolderName }}.txt",
            "fileAction": "=read"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3312,
        528
      ],
      "name": "get whole text from TXT file",
      "id": "f7562be2-a632-42c8-9e4b-d803260bd6c7"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/settings.json",
            "fileAction": "read",
            "keysToReturn": "={{ [\"productKey\"] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        352
      ],
      "name": "get product key",
      "id": "158d2bfd-53ab-4009-a200-adb8835e87dd"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2704,
        528
      ],
      "id": "c492d42c-2a33-4dd9-a742-9cb23948de19",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "existingFilesNames",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1488,
        528
      ],
      "id": "eb5d1a09-926d-4498-8e2d-0b345c23bd09",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4064,
        528
      ],
      "id": "c8201e73-9050-4c1f-8265-bc7964f3ba49",
      "name": "POST Deploy",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('get all workflow params').item.json.runpodTextAudioAlignTemplateId }}/podStatus.json",
            "fileAction": "read",
            "keysToReturn": "={{ [\"podMeta.id\"] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3520,
        528
      ],
      "name": "read pod id",
      "id": "abc2b07b-9e71-4b09-89db-581df6ae4e02",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.meta.progress.status == \"success\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "d60c8143-431c-42fd-ae00-f85786c31554"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5ec1d134-810d-4c82-9941-feb3666d7d37",
                    "leftValue": "={{ $json.meta.progress.status == \"processing\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "943af9e6-26ab-48e3-824d-ef5e5e9f6691",
                    "leftValue": "={{ $json.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no progress file yet"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dce3399f-3414-4508-9339-94a56f2d91eb",
                    "leftValue": "={{ $json.meta.progress.status == \"error\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5280,
        624
      ],
      "id": "80d4fc55-e94a-4bc5-aa8e-0960b0caa507",
      "name": "Switch by status1"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5376,
        784
      ],
      "id": "2f267dbe-1b63-4a2f-ad14-d4dfa9b92c35",
      "name": "Wait3",
      "webhookId": "e8358e3c-9375-49e1-abb9-588c5b6a8520"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/VIDEOS/{{ $('Start').first().json.videoFolderName }}/videoStatus.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ {\n\"transcriptReady\":true\n} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5584,
        656
      ],
      "name": "set voiceover ready1",
      "id": "00737f3b-28a8-4bc8-ad44-87c65b410e8f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb62633-4973-457b-9ff6-82b7e234c67c",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=http://{{ $('get all workflow params').first().json.proxyServerIP }}:{{ $('get all workflow params').first().json.proxyServerPort }}/{{ $('get all workflow params').first().json.textAudioAlignerRoute }}",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\n\"X-Request-ID\": $('get random ID1').first().json.id,\n\"X-Product-Key\" : $('get product key').first().json.productKey\n} }}",
              "type": "object"
            },
            {
              "id": "e1e36b2f-2306-4a01-9df3-a635fe4627cf",
              "name": "body",
              "value": "={{ \n{\n\"mode\":\"status\"\n}\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4480,
        640
      ],
      "id": "4c052136-1c84-441e-a3e2-9a6ec171c395",
      "name": "form transcription request1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        4656,
        640
      ],
      "id": "f8a2f414-b745-4b88-9107-fe25e5213c9d",
      "name": "POST Deploy1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb62633-4973-457b-9ff6-82b7e234c67c",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=http://{{ $('get all workflow params').first().json.proxyServerIP }}:{{ $('get all workflow params').first().json.proxyServerPort }}/{{ $('get all workflow params').first().json.textAudioAlignerRoute }}",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\n\"X-Request-ID\": $('get random ID1').first().json.id,\n\"X-Product-Key\" : $('get product key').first().json.productKey\n} }}",
              "type": "object"
            },
            {
              "id": "e1e36b2f-2306-4a01-9df3-a635fe4627cf",
              "name": "body",
              "value": "={{ \n{\n\"mode\":\"download\"\n}\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4864,
        640
      ],
      "id": "e943aa0e-b02c-4c99-b890-d14cfa7bcc6b",
      "name": "form transcription request2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        5040,
        640
      ],
      "id": "e51df516-b738-492a-8990-0f4605c25046",
      "name": "POST Deploy2",
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "get all workflow params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read ready transcript": {
      "main": [
        [
          {
            "node": "Switch by status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by status": {
      "main": [
        [
          {
            "node": "set voiceover ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "read ready transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "read ready transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get all workflow params": {
      "main": [
        [
          {
            "node": "get product key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "voice alignment service": {
      "main": [
        [
          {
            "node": "execute command works",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "start runpod voicegen pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if pod ready": {
      "main": [
        [
          {
            "node": "get voiceover file names",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "start runpod voicegen pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start runpod voicegen pod": {
      "main": [
        [
          {
            "node": "if pod ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check file on jupiter": {
      "main": [
        [
          {
            "node": "If file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file exists": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "upload file to jupiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload file to jupiter": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check file on jupiter1": {
      "main": [
        [
          {
            "node": "If file exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file exists1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "check file on jupiter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "If All Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get voiceover file names": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If All Ready": {
      "main": [
        [
          {
            "node": "get whole text from TXT file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form transcription request": {
      "main": [
        [
          {
            "node": "POST Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get whole text from TXT file": {
      "main": [
        [
          {
            "node": "read pod id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get random ID1": {
      "main": [
        [
          {
            "node": "form transcription request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get product key": {
      "main": [
        [
          {
            "node": "voice alignment service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "check file on jupiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read pod id": {
      "main": [
        [
          {
            "node": "get random ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by status1": {
      "main": [
        [
          {
            "node": "set voiceover ready1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        []
      ]
    },
    "POST Deploy": {
      "main": [
        [
          {
            "node": "form transcription request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form transcription request1": {
      "main": [
        [
          {
            "node": "POST Deploy1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form transcription request2": {
      "main": [
        [
          {
            "node": "POST Deploy2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Deploy1": {
      "main": [
        [
          {
            "node": "form transcription request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "channelsFolderPath": "C:/Users/V/Desktop/Channels",
          "channelName": "LifeOfAPirate",
          "videoFolderName": "2026-03-24_MbcCf"
        }
      }
    ],
    "start runpod voicegen pod": [
      {
        "json": {
          "podStatus": "ready",
          "fileName": "podStatus.json"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "check file on jupiter": [
      {
        "json": {
          "fileExist": true
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "fileExist": true
        },
        "pairedItem": {
          "item": 1
        }
      }
    ],
    "POST Deploy2": [
      {
        "json": {
          "id": "0d34-5c25-a166-0ce7",
          "state": "success",
          "jobId": "84076f52d92e4cbabf3fef46dbe361b1",
          "status": {
            "job_id": "84076f52d92e4cbabf3fef46dbe361b1",
            "status": "completed",
            "backend": "whisperx",
            "created_at": "2026-04-01T17:37:36Z",
            "started_at": "2026-04-01T17:37:36Z",
            "finished_at": "2026-04-01T17:38:07Z",
            "pid": 743,
            "return_code": null,
            "error": null,
            "result_path": "/workspace/runtime/alignment_jobs/84076f52d92e4cbabf3fef46dbe361b1/result/transcript.json",
            "progress_path": "/workspace/runtime/alignment_jobs/84076f52d92e4cbabf3fef46dbe361b1/result/transcriptProgress.json",
            "log_path": "/workspace/runtime/alignment_jobs/84076f52d92e4cbabf3fef46dbe361b1/logs/transcribe.log",
            "dataset_info": {
              "mainFolderPath": "/workspace/runtime/alignment_jobs/84076f52d92e4cbabf3fef46dbe361b1/dataset",
              "channelName": "n8n",
              "videoFolderName": "pk_live_qQtRdoPVyQEtupktOboHQtgkMzHFQXHU",
              "textPartsPath": null,
              "materialized": true,
              "copiedAudioFiles": [
                "MbcCf_00000.mp3",
                "MbcCf_00001.mp3"
              ]
            },
            "progress_meta": {
              "channel": "n8n",
              "video": "pk_live_qQtRdoPVyQEtupktOboHQtgkMzHFQXHU",
              "language": "ru",
              "num_sentences_total": 21,
              "progress": {
                "status": "success",
                "total": 21,
                "current": 21,
                "audios_total": 2,
                "audios_done": 2,
                "last_audio": "MbcCf_00001.mp3",
                "total_duration_sec": 145.110204,
                "problem_audio": null,
                "unrecognized_text": null,
                "time_spent": 24.15
              },
              "processed_audio": [
                [
                  "MbcCf_00000.mp3",
                  15.19,
                  15.19
                ],
                [
                  "MbcCf_00001.mp3",
                  7.83,
                  7.83
                ]
              ]
            },
            "transcript_exists": true,
            "urls": {
              "self": "https://ptx7qlmniyyamk-8091.proxy.runpod.net/api/alignment/jobs/84076f52d92e4cbabf3fef46dbe361b1",
              "transcript": "https://ptx7qlmniyyamk-8091.proxy.runpod.net/api/alignment/jobs/84076f52d92e4cbabf3fef46dbe361b1/result/transcript",
              "progress": "https://ptx7qlmniyyamk-8091.proxy.runpod.net/api/alignment/jobs/84076f52d92e4cbabf3fef46dbe361b1/result/progress",
              "log": "https://ptx7qlmniyyamk-8091.proxy.runpod.net/api/alignment/jobs/84076f52d92e4cbabf3fef46dbe361b1/log",
              "cancel": "https://ptx7qlmniyyamk-8091.proxy.runpod.net/api/alignment/jobs/84076f52d92e4cbabf3fef46dbe361b1/cancel"
            },
            "log_tail": "Warning: You are sending unauthenticated requests to the HF Hub. Please set a HF_TOKEN to enable higher rate limits and faster downloads.\ntrue\ntrue\n"
          },
          "transcript": {
            "meta": {
              "channel": "n8n",
              "video": "pk_live_qQtRdoPVyQEtupktOboHQtgkMzHFQXHU",
              "language": "ru",
              "num_sentences_total": 21,
              "progress": {
                "status": "success",
                "total": 21,
                "current": 21,
                "audios_total": 2,
                "audios_done": 2,
                "last_audio": "MbcCf_00001.mp3",
                "total_duration_sec": 145.110204,
                "problem_audio": null,
                "unrecognized_text": null,
                "time_spent": 24.15
              },
              "processed_audio": [
                [
                  "MbcCf_00000.mp3",
                  15.19,
                  15.19
                ],
                [
                  "MbcCf_00001.mp3",
                  7.83,
                  7.83
                ]
              ]
            },
            "items": [
              {
                "idx": 0,
                "text": "Город шумит целые сутки, а найти уголок для двоих всё равно можно.",
                "normalized": "gorod shumit tselye sutki, a naiti ugolok dlia dvoikh vsio ravno mozhno.",
                "tokens": [
                  "gorod",
                  "shumit",
                  "tselye",
                  "sutki",
                  "a",
                  "naiti",
                  "ugolok",
                  "dlia",
                  "dvoikh",
                  "vsio",
                  "ravno",
                  "mozhno"
                ],
                "start_ms": 31,
                "end_ms": 2966,
                "audio_file": "MbcCf_00000.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 0
              },
              {
                "idx": 1,
                "text": "Где в переполненной Москве тишина переключается на шёпот и какой маршрут превращает обычный вечер в историю, к которой захочется вернуться?",
                "normalized": "gde v perepolnennoi moskve tishina perekliuchaetsia na shiopot i kakoi marshrut prevrashchaet obychnyi vecher v istoriiu, k kotoroi zakhochetsia vernut'sia?",
                "tokens": [
                  "gde",
                  "v",
                  "perepolnennoi",
                  "moskve",
                  "tishina",
                  "perekliuchaetsia",
                  "na",
                  "shiopot",
                  "i",
                  "kakoi",
                  "marshrut",
                  "prevrashchaet",
                  "obychnyi",
                  "vecher",
                  "v",
                  "istoriiu",
                  "k",
                  "kotoroi",
                  "zakhochetsia",
                  "vernut'sia"
                ],
                "start_ms": 5062,
                "end_ms": 7997,
                "audio_file": "MbcCf_00000.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 0
              },
              {
                "idx": 2,
                "text": "Начинаем с места, где воздух пахнет свежей травой и слегка... льдом.",
                "normalized": "nachinaem s mesta, gde vozdukh pakhnet svezhei travoi i slegka... l'dom.",
                "tokens": [
                  "nachinaem",
                  "s",
                  "mesta",
                  "gde",
                  "vozdukh",
                  "pakhnet",
                  "svezhei",
                  "travoi",
                  "i",
                  "slegka",
                  "l'dom"
                ],
                "start_ms": 14965,
                "end_ms": 20562,
                "audio_file": "MbcCf_00000.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 0
              },
              {
                "idx": 3,
                "text": "Зарядье держит главный трюк - парящий мост нависает над Москвой-рекой, будто завис.",
                "normalized": "zariad'e derzhit glavnyi triuk - pariashchii most navisaet nad moskvoi-rekoi, budto zavis.",
                "tokens": [
                  "zariad'e",
                  "derzhit",
                  "glavnyi",
                  "triuk",
                  "-",
                  "pariashchii",
                  "most",
                  "navisaet",
                  "nad",
                  "moskvoi-rekoi",
                  "budto",
                  "zavis"
                ],
                "start_ms": 20563,
                "end_ms": 22597,
                "audio_file": "MbcCf_00000.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 0
              },
              {
                "idx": 4,
                "text": "Стекло под ногами заставляет сердце подпрыгнуть, а закат на фоне кремлёвских башен делает фото без фильтров.",
                "normalized": "steklo pod nogami zastavliaet serdtse podprygnut', a zakat na fone kremliovskikh bashen delaet foto bez fil'trov.",
                "tokens": [
                  "steklo",
                  "pod",
                  "nogami",
                  "zastavliaet",
                  "serdtse",
                  "podprygnut'",
                  "a",
                  "zakat",
                  "na",
                  "fone",
                  "kremliovskikh",
                  "bashen",
                  "delaet",
                  "foto",
                  "bez",
                  "fil'trov"
                ],
                "start_ms": 26668,
                "end_ms": 31756,
                "audio_file": "MbcCf_00000.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 0
              },
              {
                "idx": 5,
                "text": "Если станет прохладно - рядом ледяная пещера, внутри всегда минус пять и повод прижаться ближе.",
                "normalized": "esli stanet prokhladno - riadom ledianaia peshchera, vnutri vsegda minus piat' i povod prizhat'sia blizhe.",
                "tokens": [
                  "esli",
                  "stanet",
                  "prokhladno",
                  "-",
                  "riadom",
                  "ledianaia",
                  "peshchera",
                  "vnutri",
                  "vsegda",
                  "minus",
                  "piat'",
                  "i",
                  "povod",
                  "prizhat'sia",
                  "blizhe"
                ],
                "start_ms": 34300,
                "end_ms": 41932,
                "audio_file": "MbcCf_00000.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 0
              },
              {
                "idx": 6,
                "text": "Доступ свободный, вечером людей заметно меньше. Дальше - Патриаршие пруды.",
                "normalized": "dostup svobodnyi, vecherom liudei zametno men'she. dal'she - patriarshie prudy.",
                "tokens": [
                  "dostup",
                  "svobodnyi",
                  "vecherom",
                  "liudei",
                  "zametno",
                  "men'she",
                  "dal'she",
                  "-",
                  "patriarshie",
                  "prudy"
                ],
                "start_ms": 42016,
                "end_ms": 45706,
                "audio_file": "MbcCf_00000.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 0
              },
              {
                "idx": 7,
                "text": "Летом здесь лениво скользят утки, зимой - коньки и глинтвейн в одноразовом стакане.",
                "normalized": "letom zdes' lenivo skol'ziat utki, zimoi - kon'ki i glintvein v odnorazovom stakane.",
                "tokens": [
                  "letom",
                  "zdes'",
                  "lenivo",
                  "skol'ziat",
                  "utki",
                  "zimoi",
                  "-",
                  "kon'ki",
                  "i",
                  "glintvein",
                  "v",
                  "odnorazovom",
                  "stakane"
                ],
                "start_ms": 46760,
                "end_ms": 53612,
                "audio_file": "MbcCf_00000.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 0
              },
              {
                "idx": 8,
                "text": "Скамейки у воды скрыты каштанами, музыка не орёт, фонари жёлтые.",
                "normalized": "skameiki u vody skryty kashtanami, muzyka ne oriot, fonari zhioltye.",
                "tokens": [
                  "skameiki",
                  "u",
                  "vody",
                  "skryty",
                  "kashtanami",
                  "muzyka",
                  "ne",
                  "oriot",
                  "fonari",
                  "zhioltye"
                ],
                "start_ms": 53613,
                "end_ms": 58883,
                "audio_file": "MbcCf_00000.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 0
              },
              {
                "idx": 9,
                "text": "Пушкинский маршрут бонусом: десять минут пешком - и вы уже на крошечных кривых улицах старой Москвы. Хотите драматической высоты?",
                "normalized": "pushkinskii marshrut bonusom: desiat' minut peshkom - i vy uzhe na kroshechnykh krivykh ulitsakh staroi moskvy. khotite dramaticheskoi vysoty?",
                "tokens": [
                  "pushkinskii",
                  "marshrut",
                  "bonusom",
                  "desiat'",
                  "minut",
                  "peshkom",
                  "-",
                  "i",
                  "vy",
                  "uzhe",
                  "na",
                  "kroshechnykh",
                  "krivykh",
                  "ulitsakh",
                  "staroi",
                  "moskvy",
                  "khotite",
                  "dramaticheskoi",
                  "vysoty"
                ],
                "start_ms": 58884,
                "end_ms": 68898,
                "audio_file": "MbcCf_00000.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 0
              },
              {
                "idx": 10,
                "text": "Смотровая Москва-Сити на восемьдесят девятом этаже даёт обзор в триста шестьдесят градусов.",
                "normalized": "smotrovaia moskva-siti na vosem'desiat deviatom etazhe daiot obzor v trista shest'desiat gradusov.",
                "tokens": [
                  "smotrovaia",
                  "moskva-siti",
                  "na",
                  "vosem'desiat",
                  "deviatom",
                  "etazhe",
                  "daiot",
                  "obzor",
                  "v",
                  "trista",
                  "shest'desiat",
                  "gradusov"
                ],
                "start_ms": 68942,
                "end_ms": 70572,
                "audio_file": "MbcCf_00001.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 1
              },
              {
                "idx": 11,
                "text": "Небо почти на уровне ладони, а огни Третьего транспортного кольца уходят в бесконечность.",
                "normalized": "nebo pochti na urovne ladoni, a ogni tret'ego transportnogo kol'tsa ukhodiat v beskonechnost'.",
                "tokens": [
                  "nebo",
                  "pochti",
                  "na",
                  "urovne",
                  "ladoni",
                  "a",
                  "ogni",
                  "tret'ego",
                  "transportnogo",
                  "kol'tsa",
                  "ukhodiat",
                  "v",
                  "beskonechnost'"
                ],
                "start_ms": 74375,
                "end_ms": 81437,
                "audio_file": "MbcCf_00001.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 1
              },
              {
                "idx": 12,
                "text": "Билеты бронируйте заранее онлайн - так уйдёте от очередей и сэкономите примерно четверть стоимости.",
                "normalized": "bilety broniruite zaranee onlain - tak uidiote ot ocheredei i sekonomite primerno chetvert' stoimosti.",
                "tokens": [
                  "bilety",
                  "broniruite",
                  "zaranee",
                  "onlain",
                  "-",
                  "tak",
                  "uidiote",
                  "ot",
                  "ocheredei",
                  "i",
                  "sekonomite",
                  "primerno",
                  "chetvert'",
                  "stoimosti"
                ],
                "start_ms": 82524,
                "end_ms": 88500,
                "audio_file": "MbcCf_00001.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 1
              },
              {
                "idx": 13,
                "text": "Для тех, кто ценит тишину без бетона, подходит Коломенское.",
                "normalized": "dlia tekh, kto tsenit tishinu bez betona, podkhodit kolomenskoe.",
                "tokens": [
                  "dlia",
                  "tekh",
                  "kto",
                  "tsenit",
                  "tishinu",
                  "bez",
                  "betona",
                  "podkhodit",
                  "kolomenskoe"
                ],
                "start_ms": 90979,
                "end_ms": 94458,
                "audio_file": "MbcCf_00001.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 1
              },
              {
                "idx": 14,
                "text": "Дубравы, деревянные мостки к Москва-реке, яблоневый сад весной.",
                "normalized": "dubravy, dereviannye mostki k moskva-reke, iablonevyi sad vesnoi.",
                "tokens": [
                  "dubravy",
                  "dereviannye",
                  "mostki",
                  "k",
                  "moskva-reke",
                  "iablonevyi",
                  "sad",
                  "vesnoi"
                ],
                "start_ms": 94459,
                "end_ms": 95452,
                "audio_file": "MbcCf_00001.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 1
              },
              {
                "idx": 15,
                "text": "Плед, термос с чаем, и вдруг слышно, как по воде хлопает ладонь рыбака.",
                "normalized": "pled, termos s chaem, i vdrug slyshno, kak po vode khlopaet ladon' rybaka.",
                "tokens": [
                  "pled",
                  "termos",
                  "s",
                  "chaem",
                  "i",
                  "vdrug",
                  "slyshno",
                  "kak",
                  "po",
                  "vode",
                  "khlopaet",
                  "ladon'",
                  "rybaka"
                ],
                "start_ms": 99925,
                "end_ms": 104894,
                "audio_file": "MbcCf_00001.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 1
              },
              {
                "idx": 16,
                "text": "До станции метро пять минут, но кажется, что город остался в другой реальности.",
                "normalized": "do stantsii metro piat' minut, no kazhetsia, chto gorod ostalsia v drugoi real'nosti.",
                "tokens": [
                  "do",
                  "stantsii",
                  "metro",
                  "piat'",
                  "minut",
                  "no",
                  "kazhetsia",
                  "chto",
                  "gorod",
                  "ostalsia",
                  "v",
                  "drugoi",
                  "real'nosti"
                ],
                "start_ms": 106385,
                "end_ms": 111355,
                "audio_file": "MbcCf_00001.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 1
              },
              {
                "idx": 17,
                "text": "Финальный акцент - ночной теплоход от Парка Горького.",
                "normalized": "final'nyi aktsent - nochnoi teplokhod ot parka gor'kogo.",
                "tokens": [
                  "final'nyi",
                  "aktsent",
                  "-",
                  "nochnoi",
                  "teplokhod",
                  "ot",
                  "parka",
                  "gor'kogo"
                ],
                "start_ms": 111356,
                "end_ms": 115331,
                "audio_file": "MbcCf_00001.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 1
              },
              {
                "idx": 18,
                "text": "Две с половиной часы лайнер медленно режет чёрную воду, Катерина Второй воплощается в подсвеченных фасадах, а тихий диджей сет не перебивает разговор.",
                "normalized": "dve s polovinoi chasy lainer medlenno rezhet chiornuiu vodu, katerina vtoroi voploshchaetsia v podsvechennykh fasadakh, a tikhii didzhei set ne perebivaet razgovor.",
                "tokens": [
                  "dve",
                  "s",
                  "polovinoi",
                  "chasy",
                  "lainer",
                  "medlenno",
                  "rezhet",
                  "chiornuiu",
                  "vodu",
                  "katerina",
                  "vtoroi",
                  "voploshchaetsia",
                  "v",
                  "podsvechennykh",
                  "fasadakh",
                  "a",
                  "tikhii",
                  "didzhei",
                  "set",
                  "ne",
                  "perebivaet",
                  "razgovor"
                ],
                "start_ms": 117561,
                "end_ms": 126394,
                "audio_file": "MbcCf_00001.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 1
              },
              {
                "idx": 19,
                "text": "Ветер расправляет волосы, и внезапно понимаешь: вот оно - свидание без права забыть. Пять точек, пять настроений.",
                "normalized": "veter raspravliaet volosy, i vnezapno ponimaesh': vot ono - svidanie bez prava zabyt'. piat' tochek, piat' nastroenii.",
                "tokens": [
                  "veter",
                  "raspravliaet",
                  "volosy",
                  "i",
                  "vnezapno",
                  "ponimaesh'",
                  "vot",
                  "ono",
                  "-",
                  "svidanie",
                  "bez",
                  "prava",
                  "zabyt'",
                  "piat'",
                  "tochek",
                  "piat'",
                  "nastroenii"
                ],
                "start_ms": 127953,
                "end_ms": 134707,
                "audio_file": "MbcCf_00001.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 1
              },
              {
                "idx": 20,
                "text": "Общая нитка простая: выбирайте место, где можно говорить тихо и всё равно слышать друг друга. Остальное Москва берёт на себя.",
                "normalized": "obshchaia nitka prostaia: vybiraite mesto, gde mozhno govorit' tikho i vsio ravno slyshat' drug druga. ostal'noe moskva beriot na sebia.",
                "tokens": [
                  "obshchaia",
                  "nitka",
                  "prostaia",
                  "vybiraite",
                  "mesto",
                  "gde",
                  "mozhno",
                  "govorit'",
                  "tikho",
                  "i",
                  "vsio",
                  "ravno",
                  "slyshat'",
                  "drug",
                  "druga",
                  "ostal'noe",
                  "moskva",
                  "beriot",
                  "na",
                  "sebia"
                ],
                "start_ms": 134708,
                "end_ms": 139903,
                "audio_file": "MbcCf_00001.mp3",
                "merged_with": null,
                "preMergedText": null,
                "order": null,
                "suborder": null,
                "chunk": 1
              }
            ]
          },
          "transcriptProgress": {
            "meta": {
              "channel": "n8n",
              "video": "pk_live_qQtRdoPVyQEtupktOboHQtgkMzHFQXHU",
              "language": "ru",
              "num_sentences_total": 21,
              "progress": {
                "status": "success",
                "total": 21,
                "current": 21,
                "audios_total": 2,
                "audios_done": 2,
                "last_audio": "MbcCf_00001.mp3",
                "total_duration_sec": 145.110204,
                "problem_audio": null,
                "unrecognized_text": null,
                "time_spent": 24.15
              },
              "processed_audio": [
                [
                  "MbcCf_00000.mp3",
                  15.19,
                  15.19
                ],
                [
                  "MbcCf_00001.mp3",
                  7.83,
                  7.83
                ]
              ]
            }
          },
          "log": {
            "job_id": "84076f52d92e4cbabf3fef46dbe361b1",
            "log_path": "/workspace/runtime/alignment_jobs/84076f52d92e4cbabf3fef46dbe361b1/logs/transcribe.log",
            "log": "Warning: You are sending unauthenticated requests to the HF Hub. Please set a HF_TOKEN to enable higher rate limits and faster downloads.\ntrue\ntrue\n"
          },
          "completedAt": "2026-04-01T17:38:07Z"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "POST Deploy1": [
      {
        "json": {
          "alignmentPort": "8091",
          "artifactAvailable": true,
          "error": null,
          "generationConfiguration": {
            "gpuCount": 1,
            "gpuTypeId": "",
            "modality": "",
            "podCostUsdPerHour": 0,
            "tags": {},
            "workloadKey": ""
          },
          "id": "0d34-5c25-a166-0ce7",
          "jobId": "84076f52d92e4cbabf3fef46dbe361b1",
          "podId": "ptx7qlmniyyamk",
          "retries": 4,
          "state": "success",
          "status": {
            "backend": "whisperx",
            "created_at": "2026-04-01T17:37:36Z",
            "dataset_info": {
              "channelName": "n8n",
              "copiedAudioFiles": [
                "MbcCf_00000.mp3",
                "MbcCf_00001.mp3"
              ],
              "mainFolderPath": "/workspace/runtime/alignment_jobs/84076f52d92e4cbabf3fef46dbe361b1/dataset",
              "materialized": true,
              "textPartsPath": null,
              "videoFolderName": "pk_live_qQtRdoPVyQEtupktOboHQtgkMzHFQXHU"
            },
            "error": null,
            "finished_at": "2026-04-01T17:38:07Z",
            "job_id": "84076f52d92e4cbabf3fef46dbe361b1",
            "log_path": "/workspace/runtime/alignment_jobs/84076f52d92e4cbabf3fef46dbe361b1/logs/transcribe.log",
            "log_tail": "Warning: You are sending unauthenticated requests to the HF Hub. Please set a HF_TOKEN to enable higher rate limits and faster downloads.\ntrue\ntrue\n",
            "pid": 743,
            "progress_meta": {
              "channel": "n8n",
              "language": "ru",
              "num_sentences_total": 21,
              "processed_audio": [
                [
                  "MbcCf_00000.mp3",
                  15.19,
                  15.19
                ],
                [
                  "MbcCf_00001.mp3",
                  7.83,
                  7.83
                ]
              ],
              "progress": {
                "audios_done": 2,
                "audios_total": 2,
                "current": 21,
                "last_audio": "MbcCf_00001.mp3",
                "problem_audio": null,
                "status": "success",
                "time_spent": 24.15,
                "total": 21,
                "total_duration_sec": 145.110204,
                "unrecognized_text": null
              },
              "video": "pk_live_qQtRdoPVyQEtupktOboHQtgkMzHFQXHU"
            },
            "progress_path": "/workspace/runtime/alignment_jobs/84076f52d92e4cbabf3fef46dbe361b1/result/transcriptProgress.json",
            "result_path": "/workspace/runtime/alignment_jobs/84076f52d92e4cbabf3fef46dbe361b1/result/transcript.json",
            "return_code": null,
            "started_at": "2026-04-01T17:37:36Z",
            "status": "completed",
            "transcript_exists": true,
            "urls": {
              "cancel": "https://ptx7qlmniyyamk-8091.proxy.runpod.net/api/alignment/jobs/84076f52d92e4cbabf3fef46dbe361b1/cancel",
              "log": "https://ptx7qlmniyyamk-8091.proxy.runpod.net/api/alignment/jobs/84076f52d92e4cbabf3fef46dbe361b1/log",
              "progress": "https://ptx7qlmniyyamk-8091.proxy.runpod.net/api/alignment/jobs/84076f52d92e4cbabf3fef46dbe361b1/result/progress",
              "self": "https://ptx7qlmniyyamk-8091.proxy.runpod.net/api/alignment/jobs/84076f52d92e4cbabf3fef46dbe361b1",
              "transcript": "https://ptx7qlmniyyamk-8091.proxy.runpod.net/api/alignment/jobs/84076f52d92e4cbabf3fef46dbe361b1/result/transcript"
            }
          },
          "transcriptAvailable": true,
          "transcriptProgress": {
            "meta": {
              "channel": "n8n",
              "language": "ru",
              "num_sentences_total": 21,
              "processed_audio": [
                [
                  "MbcCf_00000.mp3",
                  15.19,
                  15.19
                ],
                [
                  "MbcCf_00001.mp3",
                  7.83,
                  7.83
                ]
              ],
              "progress": {
                "audios_done": 2,
                "audios_total": 2,
                "current": 21,
                "last_audio": "MbcCf_00001.mp3",
                "problem_audio": null,
                "status": "success",
                "time_spent": 24.15,
                "total": 21,
                "total_duration_sec": 145.110204,
                "unrecognized_text": null
              },
              "video": "pk_live_qQtRdoPVyQEtupktOboHQtgkMzHFQXHU"
            }
          },
          "transcriptProgressAvailable": true
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "257d883f-4741-4f2a-8ec3-26732f864aba",
  "activeVersionId": "854a3e86-96f5-4d82-8c17-e76c6fc1bfe9",
  "versionCounter": 658,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-05T00:33:05.375Z",
      "createdAt": "2026-02-05T00:33:05.375Z",
      "role": "workflow:owner",
      "workflowId": "fZMsHTY8ISXnudQj",
      "projectId": "jyxvHYm2zz0wpNIZ",
      "project": {
        "updatedAt": "2026-02-03T20:00:07.843Z",
        "createdAt": "2026-02-03T19:58:35.642Z",
        "id": "jyxvHYm2zz0wpNIZ",
        "name": "Vladislav Kostromin <bad4rr@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "791bcae9-1f6e-48f2-9f28-d86a2c32ea27"
      }
    }
  ]
}