N8N_WORKFLOWS/ljH0uamrMfc4IBJx.json
{
  "updatedAt": "2026-04-19T10:45:02.069Z",
  "createdAt": "2026-02-04T17:21:30.069Z",
  "id": "ljH0uamrMfc4IBJx",
  "name": "http works",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"method\": \"\",\n  \"route\": \"\",\n  \"headers\": {},\n  \"body\": {}\n}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        224,
        352
      ]
    },
    {
      "parameters": {
        "method": "={{ $('Start').first().json.method }}",
        "url": "={{ $('Start').first().json.route }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={{ $('Start').first().json.headers.toJsonString() }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Start').first().json.body.toJsonString() }}",
        "options": {
          "timeout": 300000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        816,
        352
      ],
      "id": "beb18e79-eec4-4f77-8fc8-7fb0200ef8cf",
      "name": "HTTP Request",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body_content_type == \"json\" || $json.body_content_type == null }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "f3c0614a-aa84-4654-b60d-aedb2dc1d817"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "json"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1359e7fa-8f39-4a57-b1a8-161a95affee8",
                    "leftValue": "={{ $json.body_content_type == \"multipart-form-data\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "form-data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        480,
        352
      ],
      "id": "2639d33f-9426-40c7-8f27-8581d6e48473",
      "name": "Switch"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1040,
        528
      ],
      "id": "ad02589f-91ee-4435-8797-bc8e414447d1",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aac0619a-0b02-4ce6-8224-cfdde716ffd8",
                    "leftValue": "={{ $json.error?.hasField?.('code') ? $json.error.code == \"ETIMEDOUT\" : false }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "time out"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f3198274-da59-4231-a12c-8d74a85b98ac",
                    "leftValue": "",
                    "rightValue": "={{ $json.error?.hasField?.('code') ? $json.error.code == \"CONNRESET\" : false }}E",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "connection reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error == \"aborted\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "a4da98f7-8885-4b8d-a25f-15b76ae8a413"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "aborted error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8ec95bb5-d174-425e-aa10-e8e2e4d79f20",
                    "leftValue": "={{ \n$json.error !== \"aborted\" &&\n$json.error?.hasField?.('code') ? $json.error.code !== \"ETIMEDOUT\" : true &&\n$json.error?.hasField?.('code') ? $json.error.code !== \"CONNRESET\" : true }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "!aborted !timeout !connreset"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1040,
        384
      ],
      "id": "f2abec0e-82d2-49cd-98ed-921da895dfa5",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        544
      ],
      "id": "af4ec367-6be0-403b-947b-4df2af2c1876",
      "name": "Wait",
      "webhookId": "4a0eb3ab-2d9d-4fae-aa5a-86e455aefb25"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f39568ef-3919-4cae-8ecb-50cb3509d78b",
              "leftValue": "={{ $runIndex > 5 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1296,
        384
      ],
      "id": "16536b12-1de3-4e8f-80b0-9a834fcd86de",
      "name": "If >5 times error"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "If >5 times error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If >5 times error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If >5 times error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a8a75bcd-a96f-4269-9146-8de885049cb2",
  "activeVersionId": "a8a75bcd-a96f-4269-9146-8de885049cb2",
  "versionCounter": 1109,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-04T17:21:30.073Z",
      "createdAt": "2026-02-04T17:21:30.073Z",
      "role": "workflow:owner",
      "workflowId": "ljH0uamrMfc4IBJx",
      "projectId": "jyxvHYm2zz0wpNIZ",
      "project": {
        "updatedAt": "2026-02-03T20:00:07.843Z",
        "createdAt": "2026-02-03T19:58:35.642Z",
        "id": "jyxvHYm2zz0wpNIZ",
        "name": "Vladislav Kostromin <bad4rr@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "791bcae9-1f6e-48f2-9f28-d86a2c32ea27"
      }
    }
  ]
}