N8N_WORKFLOWS/o5B3Nkoco1rF2d1h.json
{
  "updatedAt": "2026-04-19T17:01:43.408Z",
  "createdAt": "2026-02-05T16:30:06.860Z",
  "id": "o5B3Nkoco1rF2d1h",
  "name": "runpod works",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"channelsFolderPath\": \"\",\n  \"channelName\": \"\",\n  \"videoFolderName\": \"\",\n  \"index\":0,\n  \"method\":\"\",\n\n  \"comfyUiRequest\":{},\n  \"request\":{},\n  \n  \"runpodTemplateId\":\"\",\n  \n  \"runpodGpuList\":[],\n  \"runpodCountryCodes\":[]\n}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -448,
        416
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Start').first().json.method == \"deployPod\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "35ce2b6b-8a86-419b-9926-cce3825784d1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deploy pod"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bbd67f31-b979-45c5-b9b0-d48ac29787e1",
                    "leftValue": "={{ $('Start').first().json.method == \"getPodStatus\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pod status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "14502214-a8ce-4212-b263-54d084ce32d1",
                    "leftValue": "={{ $('Start').first().json.method == \"pausePod\" }}",
                    "rightValue": "terminate pod",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pause pod"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f50105ff-bab9-46d0-add1-169250fe74a1",
                    "leftValue": "={{ $('Start').first().json.method == \"terminatePod\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "terminate pod"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "60460865-c29c-4b17-9598-05b38cd6b37e",
                    "leftValue": "={{ $('Start').first().json.method == \"sendComfyUiT2IGenerationRequest\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "t2i send request"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2e89355c-7998-4101-9ab6-824334e7f9b9",
                    "leftValue": "={{ $('Start').first().json.method == \"checkComfyUiT2IGenerationRequest\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "t2i check status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8adf39ee-834c-4241-ad5d-7f3e34b35e8a",
                    "leftValue": "={{ $('Start').first().json.method == \"sendComfyUiI2VGenerationRequest\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "i2v send request"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b2d0431d-cd63-4b9d-9231-1a2045a86d6a",
                    "leftValue": "={{ $('Start').first().json.method == \"checkComfyUiI2VGenerationRequest\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "i2i check status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "435bcb1f-e85c-4a5a-84d6-ca8f6d2439c9",
                    "leftValue": "={{ $('Start').first().json.method == \"getComfyUiGenerationResult\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "comfy download result"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e02add0-69dc-45d8-aa70-0ec7342a0bb0",
                    "leftValue": "={{ $('Start').first().json.method == \"uploadComfyUiFileRequest\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "upload comfyui file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "11db66b0-abda-4b63-8350-61c7a16411b1",
                    "leftValue": "={{ $('Start').first().json.method == \"checkFileExist\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checkFileExist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5b548c25-3ab3-4451-add7-9fb449a9d87f",
                    "leftValue": "={{ $('Start').first().json.method == \"uploadFile\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "upload file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "06933206-526c-40c8-9b29-3db927e84389",
                    "leftValue": "={{ $('Start').first().json.method == \"startTextAudioAlignProcess\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start text audio align"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        272
      ],
      "id": "98ff24aa-65b5-483f-9400-5e4c6814eee7",
      "name": "Switch by method"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('read pod status').last().json.isEmpty() || $('read pod status').last().json.podStatus.isEmpty() || $('read pod status').last().json.podStatus == \"terminated\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "c6fdda00-4fdc-4517-92a6-8e47d5ef04a8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "need teployment"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6b16808f-cd32-4bd6-997d-1d37909f6432",
                    "leftValue": "={{ !$('read pod status').last().json.isEmpty() && $('read pod status').last().json.podStatus == \"deploying\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deploying"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d7a43740-29a9-43c9-ac6d-a38755471f08",
                    "leftValue": "={{ !$('read pod status').last().json.isEmpty() && $('read pod status').last().json.podStatus == \"ready\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ready"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1264,
        -64
      ],
      "id": "bad1158e-f6a6-4214-8b3d-bb2de0ca84d0",
      "name": "Switch by Pod Status"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba06d2e2-76cd-4f81-b342-4e251eebdb29",
              "name": "method",
              "value": "GET",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=https://rest.runpod.io/v1/pods/{{ $('read pod status').last().json.podMeta.id }}",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\"Authorization\": \"Bearer \" + $env.RUNPOD_API_KEY} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        32
      ],
      "id": "4c359924-9473-4c25-aea1-5fb137ef4f2a",
      "name": "form pod status request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bddbb1a9-cedb-4c03-82db-f2534d18fad2",
                    "leftValue": "={{ !$json.hasField('error') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pod exists"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasField('error') && $json.error.message.includes('pod not found') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "61495c56-9b14-4d3e-be6b-86bff0191522"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pod not found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2000,
        32
      ],
      "id": "6c0c7b53-f2e2-4e4b-a6f9-8af89c1b33bd",
      "name": "Switch Response"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ {\n\"podStatus\":\"terminated\",\n} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2288,
        32
      ],
      "name": "write runpod terminated status",
      "id": "03c4744d-9e71-42c4-b14d-61ce4050d146"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ (()=>{\nconst r = $json\nconst json = {}\njson.podStatus = \"deploying\"\n\njson.podMeta = $json\n\nreturn json\n})() }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2864,
        -128
      ],
      "name": "write runpod deploying status and meta",
      "id": "5167efeb-d0cd-4e50-a229-6a7ec3e7d92b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7a1d4364-7897-4e9d-bba1-2df13a77a859",
                    "leftValue": "={{ !$json.hasField('error') && !$json.hasField('errors') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pod deploying"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5b914025-a3a3-4b1a-a17a-8464f38882a7",
                    "leftValue": "={{ $json.hasField('error') && $json.error.message.includes('There are no instances currently') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "regions unavailable"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dcdb276a-2e40-4d96-80e8-368bcc1a9bb7",
                    "leftValue": "={{ $json.hasField('error') && $json.error.message.includes('This machine does not have the resources to deploy your pod. Please try a different machine') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "wanted gpus unavailable"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1642350d-3276-4c55-b133-c9c51d00313e",
                    "leftValue": "={{ $json.errors[0].message.includes('This machine does not have the resources to deploy your pod. Please try a different machine') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no resources"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasField('error') && $json.error.message.includes('gpuTypeIds') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "61495c56-9b14-4d3e-be6b-86bff0191522"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "wrong gpu id"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "22f16f77-5108-4c71-8cd0-3b91e2067ee2",
                    "leftValue": "={{ $json.hasField('error') && $json.error.message.includes('gpuTypeIds') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2288,
        -192
      ],
      "id": "143806fe-2394-4e07-ad99-850db15c8084",
      "name": "Switch Response1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "read",
            "keysToReturn": "={{ [\"portsStatus\"] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2880,
        -352
      ],
      "name": "read pod ports",
      "id": "02d16929-e414-4470-9573-f9603ab7c981"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54dcab56-7b77-4201-8b0a-7d720e1ad335",
              "name": "port",
              "value": "={{ (()=>{\nreturn $('read pod ports').last().json.portsStatus.keys()\n})()}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3376,
        -288
      ],
      "id": "2daf8bbb-06fc-45c6-9d32-7db4eec136b7",
      "name": "Extract Ports Numbers"
    },
    {
      "parameters": {
        "fieldToSplitOut": "port",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3584,
        -288
      ],
      "id": "a65215ce-e095-451b-8675-ba7be619df89",
      "name": "Split For Ports"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "read",
            "keysToReturn": "={{ [\"portsStatus\"] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4912,
        -176
      ],
      "name": "read pod ports1",
      "id": "185ecacd-46b9-491c-a91c-e02797b3bf30"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        5328,
        -176
      ],
      "id": "2fcba666-47c9-40e5-ba37-533cab63f918",
      "name": "Limit"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8f7915a3-a49e-4703-9b35-d41cb844e387",
                    "leftValue": "={{ (()=>{\nconst p = $json.portsStatus\n\nconst listeningPorts = []\nconst portsKeys = p.keys()\n\nfor (k of portsKeys){\n  if (p[k] == \"listening\"){\n    listeningPorts.push(k)\n  }\n}\n\nconst totalPorts = p.keys().length\n\nreturn listeningPorts.length == totalPorts\n})() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "all ports listening"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        5104,
        -176
      ],
      "id": "425770da-b38f-4e2d-8822-8e071de31d4f",
      "name": "If All Ports Listening"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ {\n\"podStatus\": \"ready\"\n} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5536,
        -176
      ],
      "name": "write pod ready",
      "id": "5bc7be00-da0a-4d48-8b52-fe0a14b58e5f"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "read",
            "keysToReturn": "={{ [\"podStatus\"] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5744,
        64
      ],
      "name": "read pod status1",
      "id": "66174de3-013e-4f8d-a5ee-26d1993fd90f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb62633-4973-457b-9ff6-82b7e234c67c",
              "name": "method",
              "value": "DELETE",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=https://rest.runpod.io/v1/pods/{{ $('read pod status').last().json.podMeta.id }}",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\"Authorization\": \"Bearer \" + $env.RUNPOD_API_KEY } }}",
              "type": "object"
            },
            {
              "id": "e1e36b2f-2306-4a01-9df3-a635fe4627cf",
              "name": "body",
              "value": "={{ {} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        192
      ],
      "id": "053305c1-71b5-405f-afc1-dac1d0f139ef",
      "name": "form pod terminate request"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "read",
            "keysToReturn": "={{ [\"portsStatus\"] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2096,
        192
      ],
      "name": "read pod ports2",
      "id": "5a205c8e-2b5a-4135-bf9d-7b691bdfafdc"
    },
    {
      "parameters": {
        "fieldToSplitOut": "port",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2480,
        192
      ],
      "id": "b4c528b3-1c1c-4b68-8fdc-39f1bbaed123",
      "name": "Split For Ports1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54dcab56-7b77-4201-8b0a-7d720e1ad335",
              "name": "port",
              "value": "={{ (()=>{\nreturn $('read pod ports2').last().json.portsStatus.keys()\n})()}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        192
      ],
      "id": "5d82ae60-2eb4-4661-802e-d2bebe021dd0",
      "name": "Extract Ports Numbers1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2864,
        192
      ],
      "id": "d73fb0a1-f368-4c87-94f4-8d7a23461453",
      "name": "Limit1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "read",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        160,
        416
      ],
      "name": "read pod status",
      "id": "032b169d-8045-40a6-85d9-91924ef77a67",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4816,
        -16
      ],
      "id": "8497234d-f275-4a3e-81f4-613bd290174d",
      "name": "Wait",
      "webhookId": "f3a31a9a-1ca5-4f34-af76-a486326a3884"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb62633-4973-457b-9ff6-82b7e234c67c",
              "name": "method",
              "value": "GET",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=https://{{ $('read pod id1').last().json.podMeta.id }}-8084.proxy.runpod.net/api/services",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {} }}",
              "type": "object"
            },
            {
              "id": "e1e36b2f-2306-4a01-9df3-a635fe4627cf",
              "name": "body",
              "value": "={{ {} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3808,
        -128
      ],
      "id": "f536519f-7d6b-47ff-9b84-aee5db06257a",
      "name": "form pod deploy test request"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        4912,
        -16
      ],
      "id": "2fe44a33-b1ec-4fa9-8525-6f43e9258a69",
      "name": "Limit2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "fail",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        896
      ],
      "id": "ff6fcc11-ddaf-4354-a5a1-f484c2773957",
      "name": "output fail"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        800
      ],
      "id": "8be83da0-bc51-420f-9c73-cbad776ea4fd",
      "name": "output success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb62633-4973-457b-9ff6-82b7e234c67c",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=http://{{ $env.PROXY_SERVER_IP }}:{{ $env.PROXY_SERVER_PORT }}/{{ $env.COMFY_UI_ROUTE }}/prompts",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\n\"X-Request-ID\":$('get random ID').item.json.id,\n\"X-Product-Key\" : $env.PRODUCT_KEY\n} }}",
              "type": "object"
            },
            {
              "id": "e1e36b2f-2306-4a01-9df3-a635fe4627cf",
              "name": "body",
              "value": "={{ {\n\"podId\": $('read pod status').last().json.podMeta.id,\n\"comfyUiPort\": $('get all workflow params').last().json.comfyUiPort,\n\"comfyUiPort\": \"3000\",\n\"mode\": \"submit\",\n\"autoRetry\":true,\n\"maxRetries\":1,\n\n\n\"generationConfiguration\":{\n\"gpuTypeId\":$('read pod status').first().json.podMeta.machine.gpuTypeId,\n\"gpuCount\": $('read pod status').first().json.podMeta.gpuCount,\n\"podCostUsdPerHour\":$('read pod status').first().json.podMeta.costPerHr,\n\"workloadKey\":$('get all workflow params').first().json.runpodT2VWorkloadKey,\n\"modality\":\"video\",\n\"tags\":{\n\"resolution\":$('get all workflow params').first().json.clipWidth.toString()+'x'+$('get all workflow params').first().json.clipHeight.toString(),\n\"fps\":$('get all workflow params').first().json.clipFps,\n\"generationMode\": \"t2v\"\n},\n},\n\"comfyUiRequest\": {\n  \"client_id\": \"n8n\",\n  \"prompt\": $('Start').last().json.comfyUiRequest\n}\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        896
      ],
      "id": "46b63207-8aa5-4e6c-90e2-4f2a8501ef86",
      "name": "form comfyui gen request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "generating",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        704
      ],
      "id": "7b868cdc-38f3-4be8-b0fd-820c395bb07c",
      "name": "output generating"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "queued",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        608
      ],
      "id": "63069d87-b6d9-4288-90cf-cda31af8370e",
      "name": "output queued"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1360,
        896
      ],
      "id": "41e59df0-c59c-47c0-8758-e4bdebb554ea",
      "name": "POST Prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1728,
        -144
      ],
      "id": "db919e73-480c-4b29-a3f7-b26f41fe19a6",
      "name": "POST Deploy",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ {} }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1728,
        32
      ],
      "id": "d49f4ed6-df40-4c7b-a789-33901f00e0ff",
      "name": "GET Status",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1728,
        192
      ],
      "id": "9776fcd3-0817-4b1f-9819-a30db69c695b",
      "name": "DELETE Terminate",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3904,
        -128
      ],
      "id": "4da11a61-4e0a-44ba-917e-e8d21961ce4b",
      "name": "POST Test Ports Listening",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "102bc47c-a719-4b6c-beac-1b5e54f85f65",
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"queued\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "queued"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"generating\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "7aac6550-6f19-402a-a7af-30806f99a42c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "63606ca7-b900-430e-9e2a-edbb2e2cee22",
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"success\" }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "119da85a-45c9-4129-bcd0-5d0fc142a707",
                    "leftValue": "={{ (!$json.hasField('error')||!$json.error.isEmpty()) && $json.state == \"fail\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1568,
        832
      ],
      "id": "35aa7004-451a-40b2-947d-1f89361e6456",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6429e785-fed5-416f-8bc9-01d45fc6e3cb",
              "name": "id",
              "value": "={{ (()=>{\n  // 1) ТУТ ПРОСТО ВСТАВЛЯЕШЬ ЧТО ХОЧЕШЬ\n  const varsForId = [\n    $('Start').first().json.comfyUiRequest\n  ];\n\n  // 2) нормализуем значения -> одна строка\n  function stable(v){\n    if (v === null || v === undefined) return \"\";\n    if (typeof v === \"string\") return v;\n    if (typeof v === \"number\" || typeof v === \"boolean\") return String(v);\n    if (Array.isArray(v)) return \"[\" + v.map(stable).join(\",\") + \"]\";\n    // объект: сортируем ключи для стабильности\n    const keys = Object.keys(v).sort();\n    return \"{\" + keys.map(k => JSON.stringify(k)+\":\"+stable(v[k])).join(\",\") + \"}\";\n  }\n\n  const s = varsForId.map(stable).join(\"|\");\n\n  // 3) FNV-1a 32-bit (2 раза, чтобы получить 16 hex)\n  function fnv1a32(str){\n    let h = 0x811c9dc5;\n    for (let i=0; i<str.length; i++){\n      h ^= str.charCodeAt(i);\n      h = Math.imul(h, 0x01000193);\n    }\n    return (h >>> 0);\n  }\n\n  const h1 = fnv1a32(s);\n  const h2 = fnv1a32(\"salt|\" + s);\n\n  const hex =\n    h1.toString(16).padStart(8,\"0\") +\n    h2.toString(16).padStart(8,\"0\");\n\n  return `${hex.slice(0,4)}-${hex.slice(4,8)}-${hex.slice(8,12)}-${hex.slice(12,16)}`;\n})() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        416
      ],
      "id": "c0b6d417-8edc-4435-911b-6918643ae8e1",
      "name": "get random ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb62633-4973-457b-9ff6-82b7e234c67c",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=http://{{ $env.PROXY_SERVER_IP }}:{{ $env.PROXY_SERVER_PORT }}/{{ $env.COMFY_UI_ROUTE }}/prompts",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\n\"X-Request-ID\": $('get random ID').item.json.id,\n\"X-Product-Key\" : $env.PRODUCT_KEY\n} }}",
              "type": "object"
            },
            {
              "id": "e1e36b2f-2306-4a01-9df3-a635fe4627cf",
              "name": "body",
              "value": "={{ {\n\"podId\": $('read pod status').last().json.podMeta.id,\n\"comfyUiPort\": $('get all workflow params').last().json.comfyUiPort,\n\"mode\": \"download\",\n\"autoRetry\":true,\n\"maxRetries\":1,\n\n\"comfyUiRequest\": {\n  \"client_id\": \"n8n\",\n  \"prompt\": $('Start').last().json.comfyUiRequest\n}\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        2512
      ],
      "id": "3cccbb35-6db3-4200-9e5d-2f87a7c0eb4d",
      "name": "form comfyui gen request1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body_content_type",
              "displayName": "body_content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1360,
        2512
      ],
      "id": "39b54526-21ba-4526-b4b0-2ba9676808d3",
      "name": "GET result"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/settings.json",
            "fileAction": "read",
            "keysToReturn": "={{ [\n\"clipWidth\",\n\"clipHeight\",\n\"clipFps\",\n] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -32,
        416
      ],
      "name": "get all workflow params",
      "id": "a45b6c29-e5ee-40cc-8097-3dd49aa173f8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8f7915a3-a49e-4703-9b35-d41cb844e387",
                    "leftValue": "={{ $json.running }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "listening"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasField('error') || !$json.running }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "a4d6d51f-95d2-4728-9a2a-cb585bd99172"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deploying"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        4432,
        -128
      ],
      "id": "bc8864e1-fca5-4a11-a741-2d9b7dcfbcff",
      "name": "is service running"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ (()=>{\nconst service = $json\nconst json = {\"portsStatus\":{} }\n\n  if (service.hasField('port')){\n  json.portsStatus[service.port] = \"unknown\"\n}\n\nreturn json\n})() }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4272,
        -304
      ],
      "name": "write ports on pod",
      "id": "76b9f46a-45cf-4976-9ebb-1c876c631b3b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "37daa54a-0429-459a-8ce5-483a1af45e61",
              "leftValue": "={{ $now.diffTo($('read pod id1').last().json.podMeta.lastStartedAt.toDateTime(), ['minutes']) > 40 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5120,
        -16
      ],
      "id": "e4cc8c7d-aefc-4923-8a05-00e7c0752eb4",
      "name": "If Pod Start Time Exeeded"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ (()=>{\nconst port = $('Split For Ports1').item.json.port\nconst json = {\"portsStatus\":{} }\n\njson.portsStatus[port] = \"closed\"\n\nreturn json\n})() }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2672,
        192
      ],
      "name": "write ports CLOSED status",
      "id": "fb992996-ddaa-4c11-b001-2a5bfe4afb28"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ {\n\"podStatus\":\"terminated\",\n} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1920,
        192
      ],
      "name": "write runpod TERMINATED status",
      "id": "295788a8-0acc-4514-9032-24d0f724b644"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ (()=>{\nconst service = $json\nconst json = {\"portsStatus\":{} }\n\n  if (service.hasField('port')){\n  json.portsStatus[service.port] = \"listening\"\n}\n\nreturn json\n})() }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4720,
        -176
      ],
      "name": "write ports LISTENING status",
      "id": "ce621825-1e38-4a8c-8e35-dfe1ccb90f94"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ (()=>{\nconst service = $json\nconst json = {\"portsStatus\":{} }\n\n  if (service.hasField('port')){\n  json.portsStatus[service.port] = \"deploying\"\n}\n\nreturn json\n})() }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4720,
        -16
      ],
      "name": "write ports DEPLOYING status",
      "id": "d53a58bc-9506-49ef-8aba-1cff0d14b911"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "read",
            "keysToReturn": "={{ [\"podMeta\"] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        576,
        416
      ],
      "name": "read pod id",
      "id": "3597a60d-42e6-4348-88b9-ce3745cd6f1c",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Start').first().json.comfyUiRequest.filePath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1264,
        2720
      ],
      "id": "c01f5718-574f-44d9-900f-6b0fbb87f3b6",
      "name": "Read File To Upload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('read pod id').last().json.podMeta.id }}-3000.proxy.runpod.net/api/upload/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            },
            {
              "name": "type",
              "value": "input"
            },
            {
              "name": "overwrite",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        2720
      ],
      "id": "bccf58d6-56d2-4977-aaa5-325e79fe5a87",
      "name": "Upload Bianry File HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "fail",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        2400
      ],
      "id": "e61134ba-a5fb-40d2-a03d-f90e65518b58",
      "name": "output fail1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        2304
      ],
      "id": "096f0c11-640a-45a5-afe3-26b4784a7e1c",
      "name": "output success1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb62633-4973-457b-9ff6-82b7e234c67c",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=http://{{ $env.PROXY_SERVER_IP }}:{{ $env.PROXY_SERVER_PORT }}/{{ $env.COMFY_UI_ROUTE }}/prompts",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\n\"X-Request-ID\":$('get random ID').item.json.id,\n\"X-Product-Key\" : $env.PRODUCT_KEY\n} }}",
              "type": "object"
            },
            {
              "id": "e1e36b2f-2306-4a01-9df3-a635fe4627cf",
              "name": "body",
              "value": "={{ {\n\"podId\": $('read pod status').last().json.podMeta.id,\n\"comfyUiPort\": $('get all workflow params').last().json.comfyUiPort,\n\"comfyUiPort\": \"3000\",\n\"mode\": \"status\",\n\"autoRetry\":true,\n\"maxRetries\":1,\n\n\"generationConfiguration\":{\n\"gpuTypeId\":$('read pod status').first().json.podMeta.machine.gpuTypeId,\n\"gpuCount\": $('read pod status').first().json.podMeta.gpuCount,\n\"podCostUsdPerHour\":$('read pod status').first().json.podMeta.costPerHr,\n\"workloadKey\":$('get all workflow params').first().json.runpodI2VWorkloadKey,\n\"modality\":\"video\",\n\"tags\":{\n\"resolution\":$('get all workflow params').first().json.clipWidth.toString()+'x'+$('get all workflow params').first().json.clipHeight.toString(),\n\"fps\":$('get all workflow params').first().json.clipFps,\n\"generationMode\": \"i2v\"\n},\n},\n\"comfyUiRequest\": {\n  \"client_id\": \"n8n\",\n  \"prompt\": $('Start').last().json.comfyUiRequest\n}\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        2112
      ],
      "id": "348b198e-8f6e-43fe-95cf-52d7a925613e",
      "name": "form comfyui gen request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "generating",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        2208
      ],
      "id": "6a1c48f5-5972-4244-83fc-05ccf104aa3a",
      "name": "output generating1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "queued",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        2112
      ],
      "id": "3d0a2638-85eb-4707-80d5-db58f2a76a0e",
      "name": "output queued1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1360,
        2112
      ],
      "id": "b66b5302-cd34-4006-9f70-705b9f5e1987",
      "name": "POST Prompt1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "102bc47c-a719-4b6c-beac-1b5e54f85f65",
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"queued\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "queued"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"generating\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "7aac6550-6f19-402a-a7af-30806f99a42c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "63606ca7-b900-430e-9e2a-edbb2e2cee22",
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"success\" }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "119da85a-45c9-4129-bcd0-5d0fc142a707",
                    "leftValue": "={{ (!$json.hasField('error')||!$json.error.isEmpty()) && $json.state == \"fail\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1568,
        2112
      ],
      "id": "b7ab18e7-9312-4374-b5a5-9814628ecd88",
      "name": "Switch1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/RUNPOD/pods/{{ $('Start').first().json.runpodTemplateId }}/podStatus.json",
            "fileAction": "read",
            "keysToReturn": "={{ [\"podMeta\"] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3600,
        -128
      ],
      "name": "read pod id1",
      "id": "cf55f37e-2dc0-4a75-9b17-2a147156a9a7",
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        240
      ],
      "id": "91ec21bf-4024-4bd8-af3e-3cd76c4cad44",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f788ff7-4cee-48a3-b258-dcc34b2833ab",
              "leftValue": "={{ $runIndex == 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4080,
        -208
      ],
      "id": "8d606c5b-26a9-4568-91b6-de9f14266e67",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "057c8091-54ef-421a-acd2-fdd1097b319e",
              "name": "error",
              "value": "={{ $json.error.parseJson().message.slice(6).parseJson().parseJson() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        -80
      ],
      "id": "7e619cd8-9229-4969-b10f-3261f7148c7b",
      "name": "parse error"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2112,
        -80
      ],
      "id": "ad665175-46ff-4638-ad1a-1e92e10ad1ab",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba06d2e2-76cd-4f81-b342-4e251eebdb29",
              "name": "method",
              "value": "GET",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=https://rest.runpod.io/v1/pods/{{ $('POST Deploy').item.json.data.podFindAndDeployOnDemand.id }}",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\"Authorization\": \"Bearer \" + $env.RUNPOD_API_KEY } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2528,
        -208
      ],
      "id": "c816f50e-79e6-4c1f-9a77-3b489678f1c2",
      "name": "form pod status request1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ {} }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2624,
        -208
      ],
      "id": "457d1c3b-cd85-40ca-9881-d533fcfef869",
      "name": "GET Status1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Start').item.json.request.localFilePath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1264,
        3120
      ],
      "id": "288b0f77-e8c9-453e-8f37-6573a6e2b8af",
      "name": "Read File To Upload1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "fileUploadedSuccessfully",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        2880
      ],
      "id": "a90799ea-b28f-432c-aed5-dfcf0a5d9bdd",
      "name": "output fileUploadedSuccessfully true"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "fileUploadedSuccessfully",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        2976
      ],
      "id": "ba01700c-1083-4c25-b61a-781334a7482e",
      "name": "output fileUploadedSuccessfully false"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('read pod id').last().json.podMeta.id }}-8084.proxy.runpod.net/api/files/content?path={{ $('Start').item.json.request.destinationFilePath }}/{{ $('Start').item.json.request.filename }}&overwrite={{ $('Start').item.json.request.overwrite }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1360,
        3120
      ],
      "id": "2fb6a96d-1b9e-45a8-86dd-19653856e03c",
      "name": "Upload Bianry File HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://{{ $('read pod id').last().json.podMeta.id }}-8084.proxy.runpod.net/api/files/exists?path={{ $('Start').first().json.request.filePath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        2928
      ],
      "id": "265cefdd-8645-408f-85fc-f6a1b6b40d1c",
      "name": "check file exits",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "fail",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        1952
      ],
      "id": "40fb5e36-897b-4697-b463-cbdfe59313c1",
      "name": "output fail2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        1856
      ],
      "id": "f6da19bc-3c64-4992-8f0c-f7ad7c05d809",
      "name": "output success2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb62633-4973-457b-9ff6-82b7e234c67c",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=http://{{ $env.PROXY_SERVER_IP }}:{{ $env.PROXY_SERVER_PORT }}/{{ $env.COMFY_UI_ROUTE }}/prompts",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\n\"X-Request-ID\":$('get random ID').item.json.id,\n\"X-Product-Key\" : $env.PRODUCT_KEY\n} }}",
              "type": "object"
            },
            {
              "id": "e1e36b2f-2306-4a01-9df3-a635fe4627cf",
              "name": "body",
              "value": "={{ {\n\"podId\": $('read pod status').last().json.podMeta.id,\n\"comfyUiPort\": $('get all workflow params').last().json.comfyUiPort,\n\"comfyUiPort\": \"3000\",\n\"mode\": \"submit\",\n\"autoRetry\":true,\n\"maxRetries\":1,\n\n\"generationConfiguration\":{\n\"gpuTypeId\":$('read pod status').first().json.podMeta.machine.gpuTypeId,\n\"gpuCount\": $('read pod status').first().json.podMeta.gpuCount,\n\"podCostUsdPerHour\":$('read pod status').first().json.podMeta.costPerHr,\n\"workloadKey\":$('get all workflow params').first().json.runpodI2VWorkloadKey,\n\"modality\":\"video\",\n\"tags\":{\n\"resolution\":$('get all workflow params').first().json.clipWidth.toString()+'x'+$('get all workflow params').first().json.clipHeight.toString(),\n\"fps\":$('get all workflow params').first().json.clipFps,\n\"generationMode\": \"i2v\"\n},\n},\n\"comfyUiRequest\": {\n  \"client_id\": \"n8n\",\n  \"prompt\": $('Start').last().json.comfyUiRequest\n}\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        1952
      ],
      "id": "c56c6ba8-cb76-4b41-ac5e-d85244eba942",
      "name": "form comfyui gen request3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "generating",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        1760
      ],
      "id": "efeaa445-223d-4850-9817-9e8dba343ac5",
      "name": "output generating2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "queued",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        1664
      ],
      "id": "4a691448-c9da-4b30-847f-90904b7183f7",
      "name": "output queued2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1360,
        1952
      ],
      "id": "abc7a3d6-965c-4b42-8880-1826ce51ad8a",
      "name": "POST Prompt2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "102bc47c-a719-4b6c-beac-1b5e54f85f65",
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"queued\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "queued"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"generating\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "7aac6550-6f19-402a-a7af-30806f99a42c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "63606ca7-b900-430e-9e2a-edbb2e2cee22",
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"success\" }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "119da85a-45c9-4129-bcd0-5d0fc142a707",
                    "leftValue": "={{ (!$json.hasField('error')||!$json.error.isEmpty()) && $json.state == \"fail\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1568,
        1888
      ],
      "id": "adda53e9-8b8c-4d22-8193-92e22cea167a",
      "name": "Switch2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "fail",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        1360
      ],
      "id": "2792e582-86ca-448f-a39b-9a40681acd47",
      "name": "output fail3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        1264
      ],
      "id": "fc1e5a66-6f1f-4921-aa34-e5af88c32807",
      "name": "output success3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb62633-4973-457b-9ff6-82b7e234c67c",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=http://{{ $env.PROXY_SERVER_IP }}:{{ $env.PROXY_SERVER_PORT }}/{{ $env.COMFY_UI_ROUTE }}/prompts",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\n\"X-Request-ID\":$('get random ID').item.json.id,\n\"X-Product-Key\" : $env.PRODUCT_KEY\n} }}",
              "type": "object"
            },
            {
              "id": "e1e36b2f-2306-4a01-9df3-a635fe4627cf",
              "name": "body",
              "value": "={{ {\n\"podId\": $('read pod status').last().json.podMeta.id,\n\"comfyUiPort\": $('get all workflow params').last().json.comfyUiPort,\n\"comfyUiPort\": \"3000\",\n\"mode\": \"status\",\n\"autoRetry\":true,\n\"maxRetries\":1,\n\n\n\"generationConfiguration\":{\n\"gpuTypeId\":$('read pod status').first().json.podMeta.machine.gpuTypeId,\n\"gpuCount\": $('read pod status').first().json.podMeta.gpuCount,\n\"podCostUsdPerHour\":$('read pod status').first().json.podMeta.costPerHr,\n\"workloadKey\":$('get all workflow params').first().json.runpodT2VWorkloadKey,\n\"modality\":\"video\",\n\"tags\":{\n\"resolution\":$('get all workflow params').first().json.clipWidth.toString()+'x'+$('get all workflow params').first().json.clipHeight.toString(),\n\"fps\":$('get all workflow params').first().json.clipFps,\n\"generationMode\": \"t2v\"\n},\n},\n\"comfyUiRequest\": {\n  \"client_id\": \"n8n\",\n  \"prompt\": $('Start').last().json.comfyUiRequest\n}\n} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        1072
      ],
      "id": "a809a7ba-e160-42e5-913e-6d8ad4a301b1",
      "name": "form comfyui gen request4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "generating",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        1168
      ],
      "id": "f724acc4-0e6d-4f75-ac59-4dab0509bcdf",
      "name": "output generating3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5be087cc-df8d-4cb9-975f-f505d956281d",
              "name": "state",
              "value": "queued",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1856,
        1072
      ],
      "id": "8af44e41-9517-42fc-8739-d05fee2d7943",
      "name": "output queued3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1360,
        1072
      ],
      "id": "618362e3-4a03-4d51-b8d6-ca85f05bfb4c",
      "name": "POST Prompt3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "102bc47c-a719-4b6c-beac-1b5e54f85f65",
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"queued\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "queued"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"generating\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "7aac6550-6f19-402a-a7af-30806f99a42c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "63606ca7-b900-430e-9e2a-edbb2e2cee22",
                    "leftValue": "={{ (!$json.hasField('error')||$json.error.isEmpty()) && $json.state == \"success\" }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "119da85a-45c9-4129-bcd0-5d0fc142a707",
                    "leftValue": "={{ (!$json.hasField('error')||!$json.error.isEmpty()) && $json.state == \"fail\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1568,
        1072
      ],
      "id": "1eb9885b-c35e-456c-8213-80457f70c346",
      "name": "Switch3"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2080,
        1520
      ],
      "id": "5368a5f1-043d-462a-819a-c91f4874b6ad",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "errorMessage": "=<{{ $workflow.name }}>\n{{ $('POST Deploy').item.json.errors[0].message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2528,
        -48
      ],
      "id": "fb6b324a-ee08-4196-a1a9-38394c577abe",
      "name": "Stop and Error2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "={{ $json.method }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1728,
        352
      ],
      "id": "0afa117d-777c-4495-9d31-c2f47caa8f0e",
      "name": "DELETE Terminate1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba06d2e2-76cd-4f81-b342-4e251eebdb29",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "=https://rest.runpod.io/v1/pods/{{ $('read pod status').last().json.podMeta.id }}/stop",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\"Authorization\": \"Bearer \" + $env.RUNPOD_API_KEY} }}",
              "type": "object"
            },
            {
              "id": "46b0a71c-efff-4bfa-a050-f55fec39df2a",
              "name": "body",
              "value": "={{ {} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        352
      ],
      "id": "1868212a-aafd-4f44-8fb9-cacb1a86cdb1",
      "name": "form pod status request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb62633-4973-457b-9ff6-82b7e234c67c",
              "name": "method",
              "value": "POST",
              "type": "string"
            },
            {
              "id": "c924243d-bb68-416f-bd88-7fc58fd77a69",
              "name": "route",
              "value": "https://api.runpod.io/graphql",
              "type": "string"
            },
            {
              "id": "924df8b7-5307-4367-a739-6b16477cea78",
              "name": "headers",
              "value": "={{ {\"Authorization\": \"Bearer \" + $env.RUNPOD_API_KEY} }}",
              "type": "object"
            },
            {
              "id": "e1e36b2f-2306-4a01-9df3-a635fe4627cf",
              "name": "body",
              "value": "={{\n{\n  \"query\": \"mutation($input: PodFindAndDeployOnDemandInput) { podFindAndDeployOnDemand(input: $input) { id name desiredStatus machineId imageName templateId } }\",\n  \"variables\": {\n    \"input\": {\n      \"name\": \"deployed: \" + $now.format(\"dd-MM-yyyy HH:mm\"),\n      \"templateId\": $(\"Start\").first().json.runpodTemplateId,\n      \"cloudType\": $(\"Start\").first().json.runpodUseVolume ? \"SECURE\" : \"COMMUNITY\",\n      \"gpuTypeId\": $(\"Start\").first().json.runpodGpuList[0],\n      \"gpuCount\": 1,\n      \"containerDiskInGb\": $(\"Start\").first().json.runpodContainerDiskInGb,\n      \"volumeInGb\": $(\"Start\").first().json.runpodVolumeInGb,\n      \"supportPublicIp\": true,\n      \"startJupyter\": true,\n      \"startSsh\": true,\n      \"volumeMountPath\": \"/workspace\",\n      \"allowedCudaVersions\": [\"12.8\", \"12.9\", \"13.0\"],\n      \"env\": [\n        {\n          \"key\": \"CIVITAI_TOKEN\",\n          \"value\": \"{{ RUNPOD_SECRET_civitai_api_key \\}}\"\n        }\n      ]\n    }\n  }\n}\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        -144
      ],
      "id": "912ce5d6-3c70-4d92-9059-c56fa7adf258",
      "name": "form pod deploy request"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "get all workflow params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by method": {
      "main": [
        [
          {
            "node": "Switch by Pod Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch by Pod Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form pod status request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form pod terminate request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form comfyui gen request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form comfyui gen request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form comfyui gen request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form comfyui gen request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form comfyui gen request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read File To Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check file exits",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read File To Upload1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch by Pod Status": {
      "main": [
        [
          {
            "node": "form pod deploy request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form pod status request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form pod status request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form pod status request": {
      "main": [
        [
          {
            "node": "GET Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Response": {
      "main": [
        [
          {
            "node": "write runpod deploying status and meta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "write runpod terminated status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write runpod terminated status": {
      "main": [
        [
          {
            "node": "read pod status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Response1": {
      "main": [
        [
          {
            "node": "form pod status request1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "write runpod deploying status and meta": {
      "main": [
        [
          {
            "node": "read pod id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read pod ports": {
      "main": [
        []
      ]
    },
    "Extract Ports Numbers": {
      "main": [
        [
          {
            "node": "Split For Ports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split For Ports": {
      "main": [
        []
      ]
    },
    "read pod ports1": {
      "main": [
        [
          {
            "node": "If All Ports Listening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If All Ports Listening": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "write pod ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write pod ready": {
      "main": [
        [
          {
            "node": "read pod status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form pod terminate request": {
      "main": [
        [
          {
            "node": "DELETE Terminate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read pod ports2": {
      "main": [
        [
          {
            "node": "Extract Ports Numbers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Ports Numbers1": {
      "main": [
        [
          {
            "node": "Split For Ports1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split For Ports1": {
      "main": [
        [
          {
            "node": "write ports CLOSED status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "read pod status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read pod status": {
      "main": [
        [
          {
            "node": "get random ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form pod deploy test request": {
      "main": [
        [
          {
            "node": "POST Test Ports Listening",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "If Pod Start Time Exeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form comfyui gen request": {
      "main": [
        [
          {
            "node": "POST Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Prompt": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Deploy": {
      "main": [
        [
          {
            "node": "Switch Response1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "parse error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Status": {
      "main": [
        [
          {
            "node": "Switch Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "write runpod terminated status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETE Terminate": {
      "main": [
        [
          {
            "node": "write runpod TERMINATED status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "write runpod TERMINATED status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Test Ports Listening": {
      "main": [
        [
          {
            "node": "is service running",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "output queued",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output generating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get random ID": {
      "main": [
        [
          {
            "node": "read pod id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form comfyui gen request1": {
      "main": [
        [
          {
            "node": "GET result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output success": {
      "main": [
        []
      ]
    },
    "GET result": {
      "main": [
        []
      ]
    },
    "get all workflow params": {
      "main": [
        [
          {
            "node": "read pod status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is service running": {
      "main": [
        [
          {
            "node": "write ports LISTENING status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "write ports DEPLOYING status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write ports on pod": {
      "main": [
        []
      ]
    },
    "If Pod Start Time Exeeded": {
      "main": [
        [
          {
            "node": "form pod terminate request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form pod deploy test request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write ports CLOSED status": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write runpod TERMINATED status": {
      "main": [
        [
          {
            "node": "read pod ports2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write ports LISTENING status": {
      "main": [
        [
          {
            "node": "read pod ports1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write ports DEPLOYING status": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read pod id": {
      "main": [
        [
          {
            "node": "Switch by method",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File To Upload": {
      "main": [
        [
          {
            "node": "Upload Bianry File HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form comfyui gen request2": {
      "main": [
        [
          {
            "node": "POST Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Prompt1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "output queued1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output generating1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output success1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output fail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read pod id1": {
      "main": [
        [
          {
            "node": "form pod deploy test request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "get all workflow params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "write ports on pod",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form pod status request1": {
      "main": [
        [
          {
            "node": "GET Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Status1": {
      "main": [
        [
          {
            "node": "write runpod deploying status and meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File To Upload1": {
      "main": [
        [
          {
            "node": "Upload Bianry File HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Bianry File HTTP Request": {
      "main": [
        [
          {
            "node": "output fileUploadedSuccessfully true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output fileUploadedSuccessfully false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Bianry File HTTP Request1": {
      "main": [
        [],
        []
      ]
    },
    "check file exits": {
      "main": [
        [],
        []
      ]
    },
    "form comfyui gen request3": {
      "main": [
        [
          {
            "node": "POST Prompt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Prompt2": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "output queued2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output generating2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output success2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output fail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form comfyui gen request4": {
      "main": [
        [
          {
            "node": "POST Prompt3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Prompt3": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "output queued3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output generating3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output success3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output fail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output fail3": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output fail": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output fail2": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output fail1": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form pod status request2": {
      "main": [
        [
          {
            "node": "DELETE Terminate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form pod deploy request": {
      "main": [
        [
          {
            "node": "POST Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Moscow",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "channelsFolderPath": "C:/Users/V/Desktop/Channels",
          "channelName": "LifeOfAPirate",
          "videoFolderName": "2026-04-16_YeLlV",
          "index": 0,
          "method": "pausePod",
          "comfyUiRequest": {},
          "request": {},
          "runpodTemplateId": "x4305f6gs5",
          "runpodGpuList": [],
          "runpodCountryCodes": []
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "db1cd4db-490c-463b-9462-d5bd580657b4",
  "activeVersionId": "db1cd4db-490c-463b-9462-d5bd580657b4",
  "versionCounter": 3896,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-05T16:30:06.862Z",
      "createdAt": "2026-02-05T16:30:06.862Z",
      "role": "workflow:owner",
      "workflowId": "o5B3Nkoco1rF2d1h",
      "projectId": "jyxvHYm2zz0wpNIZ",
      "project": {
        "updatedAt": "2026-02-03T20:00:07.843Z",
        "createdAt": "2026-02-03T19:58:35.642Z",
        "id": "jyxvHYm2zz0wpNIZ",
        "name": "Vladislav Kostromin <bad4rr@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "791bcae9-1f6e-48f2-9f28-d86a2c32ea27"
      }
    }
  ]
}