N8N_WORKFLOWS/Or9eJruDbYcgW7rm.json
{
  "updatedAt": "2026-04-05T18:43:58.392Z",
  "createdAt": "2026-02-06T02:56:56.529Z",
  "id": "Or9eJruDbYcgW7rm",
  "name": "runpod generations manager",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"channelsFolderPath\": \"\",\n  \"channelName\": \"\",\n  \"videoFolderName\": \"\",\n\n  \"comfyUiRequest\":{},\n  \"comfyUiMethod\":\"\",\n\n  \"runpodTemplateId\":\"\",\n\n  \"saveFilePath\":\"\",\n\n  \"index\":0\n}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state == \"success\" || $binary.data.fileType == \"image\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "cc9aa54f-ccad-4c1b-8e69-eec6c9515413"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fcc74db6-6c82-4924-88bb-a74f29611114",
                    "leftValue": "={{ $json.state == \"queued\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "queued"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ea668df9-a20c-4c31-b8f4-4805a6112f9c",
                    "leftValue": "={{ $json.state == \"generating\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "093d07c3-30bb-4f6a-94c2-69b7da82513d",
                    "leftValue": "={{ $json.state == \"fail\" || $json.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        704,
        320
      ],
      "id": "637f1ca4-dbeb-4884-9c36-298fabb567c6",
      "name": "Switch"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        480
      ],
      "id": "40be4a3e-c256-4c3a-9496-76b8d27d74ef",
      "name": "Wait",
      "webhookId": "71a029d1-a625-4783-9978-789c8075a784"
    },
    {
      "parameters": {
        "errorMessage": "Generation failed"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1024,
        496
      ],
      "id": "073f5639-c1d9-43dd-aa1d-1fa9b628f28c",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o5B3Nkoco1rF2d1h",
          "mode": "list",
          "cachedResultUrl": "/workflow/o5B3Nkoco1rF2d1h",
          "cachedResultName": "runpod works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channelsFolderPath": "={{ $('Start').first().json.channelsFolderPath }}",
            "channelName": "={{ $('Start').first().json.channelName }}",
            "videoFolderName": "={{ $('Start').first().json.videoFolderName }}",
            "method": "={{ $('Start').first().json.comfyUiMethod }}",
            "runpodTemplateId": "={{ $('Start').first().json.runpodTemplateId }}",
            "runpodGpuList": "={{ [] }}",
            "runpodCountryCodes": "={{ [] }}",
            "comfyUiRequest": "={{ $('Start').first().json.comfyUiRequest }}",
            "index": "={{ $('Start').first().json.index }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelsFolderPath",
              "displayName": "channelsFolderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channelName",
              "displayName": "channelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoFolderName",
              "displayName": "videoFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "comfyUiRequest",
              "displayName": "comfyUiRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "runpodTemplateId",
              "displayName": "runpodTemplateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runpodGpuList",
              "displayName": "runpodGpuList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "runpodCountryCodes",
              "displayName": "runpodCountryCodes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        496,
        352
      ],
      "id": "2cd61cd5-a135-470f-b348-f65b6b7b4ae3",
      "name": "check runpod gen status",
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state == \"success\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "cc9aa54f-ccad-4c1b-8e69-eec6c9515413"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fcc74db6-6c82-4924-88bb-a74f29611114",
                    "leftValue": "={{ $json.state == \"queued\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "queued"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ea668df9-a20c-4c31-b8f4-4805a6112f9c",
                    "leftValue": "={{ $json.state == \"generating\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "093d07c3-30bb-4f6a-94c2-69b7da82513d",
                    "leftValue": "={{ $json.state == \"fail\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "fail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        704,
        672
      ],
      "id": "01383cfb-d08f-40c7-825a-6bd59189196c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        832
      ],
      "id": "658d781c-2403-408f-b79c-3d834348816f",
      "name": "Wait1",
      "webhookId": "71a029d1-a625-4783-9978-789c8075a784"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3OssCFgf2vTy8hKq",
          "mode": "list",
          "cachedResultUrl": "/workflow/3OssCFgf2vTy8hKq",
          "cachedResultName": "Media Binary File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/VIDEOS/{{ $('Start').first().json.videoFolderName }}/CLIPS/videoClips/{{ $('Start').first().json.videoFolderName.split('_').last() }}_{{ ($('Start').first().json.index).toString().padStart(5,'0') }}.mp4",
            "fileAction": "write"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        720
      ],
      "id": "828b51c2-a10d-4c9d-8061-dc799cd9f1db",
      "name": "write media file1"
    },
    {
      "parameters": {
        "errorMessage": "Generation failed"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1024,
        848
      ],
      "id": "d9ce3038-0945-4cf6-98d1-1b190f6f53ca",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o5B3Nkoco1rF2d1h",
          "mode": "list",
          "cachedResultUrl": "/workflow/o5B3Nkoco1rF2d1h",
          "cachedResultName": "runpod works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channelsFolderPath": "={{ $('Start').first().json.channelsFolderPath }}",
            "channelName": "={{ $('Start').first().json.channelName }}",
            "videoFolderName": "={{ $('Start').first().json.videoFolderName }}",
            "method": "checkGenerationStatus",
            "runpodUseVolume": "={{ false }}",
            "runpodTemplateId": "={{ $('Start').first().json.runpodTemplateId }}",
            "runpodVolumeId": "={{ \"\" }}",
            "runpodGpuList": "={{ [] }}",
            "runpodCountryCodes": "={{ [] }}",
            "runpodContainerDiskInGb": "={{0}}",
            "runpodVolumeInGb": "={{0}}",
            "comfyUiRequest": "={{ $('Start').first().json.comfyUiRequest }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelsFolderPath",
              "displayName": "channelsFolderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channelName",
              "displayName": "channelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoFolderName",
              "displayName": "videoFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "comfyUiRequest",
              "displayName": "comfyUiRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "runpodTemplateId",
              "displayName": "runpodTemplateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runpodUseVolume",
              "displayName": "runpodUseVolume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "runpodVolumeId",
              "displayName": "runpodVolumeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runpodContainerDiskInGb",
              "displayName": "runpodContainerDiskInGb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "runpodVolumeInGb",
              "displayName": "runpodVolumeInGb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "runpodGpuList",
              "displayName": "runpodGpuList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "runpodCountryCodes",
              "displayName": "runpodCountryCodes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        496,
        704
      ],
      "id": "a7cd1946-11a0-483e-8108-276d7548f717",
      "name": "check runpod gen status1",
      "notesInFlow": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3OssCFgf2vTy8hKq",
          "mode": "list",
          "cachedResultUrl": "/workflow/3OssCFgf2vTy8hKq",
          "cachedResultName": "Media Binary File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').item.json.saveFilePath }}",
            "fileAction": "write"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1088,
        336
      ],
      "id": "28bbb8bd-e9e7-4282-bef5-da34fab20fdf",
      "name": "write media file"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "o5B3Nkoco1rF2d1h",
          "mode": "list",
          "cachedResultUrl": "/workflow/o5B3Nkoco1rF2d1h",
          "cachedResultName": "runpod works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "channelsFolderPath": "={{ $('Start').first().json.channelsFolderPath }}",
            "channelName": "={{ $('Start').first().json.channelName }}",
            "videoFolderName": "={{ $('Start').first().json.videoFolderName }}",
            "method": "getComfyUiGenerationResult",
            "runpodUseVolume": "={{ false }}",
            "runpodTemplateId": "={{ $('Start').first().json.runpodTemplateId }}",
            "runpodVolumeId": "={{ \"\" }}",
            "runpodGpuList": "={{ [] }}",
            "runpodCountryCodes": "={{ [] }}",
            "comfyUiRequest": "={{ $('Start').first().json.comfyUiRequest }}",
            "index": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channelsFolderPath",
              "displayName": "channelsFolderPath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "channelName",
              "displayName": "channelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "videoFolderName",
              "displayName": "videoFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "comfyUiRequest",
              "displayName": "comfyUiRequest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "runpodTemplateId",
              "displayName": "runpodTemplateId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runpodUseVolume",
              "displayName": "runpodUseVolume",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "runpodVolumeId",
              "displayName": "runpodVolumeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "runpodGpuList",
              "displayName": "runpodGpuList",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "runpodCountryCodes",
              "displayName": "runpodCountryCodes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        928,
        336
      ],
      "id": "58a3502a-eff1-4e33-adec-10a85107cd9b",
      "name": "get generation result1"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "check runpod gen status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "get generation result1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "check runpod gen status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check runpod gen status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "write media file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "check runpod gen status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check runpod gen status1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get generation result1": {
      "main": [
        [
          {
            "node": "write media file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "channelsFolderPath": "C:/Users/V/Desktop/Channels",
          "channelName": "LifeOfAPirate",
          "videoFolderName": "2026-04-04_Amogs",
          "comfyUiRequest": {
            "75": {
              "inputs": {
                "filename_prefix": "video/LTX_2.3_i2v",
                "format": "auto",
                "codec": "auto",
                "video-preview": "",
                "video": [
                  "312",
                  0
                ]
              },
              "class_type": "SaveVideo",
              "_meta": {
                "title": "Save Video"
              }
            },
            "269": {
              "inputs": {
                "image": "Amogs_00000.png"
              },
              "class_type": "LoadImage",
              "_meta": {
                "title": "Load Image"
              }
            },
            "278": {
              "inputs": {
                "noise_seed": 42
              },
              "class_type": "RandomNoise",
              "_meta": {
                "title": "RandomNoise"
              }
            },
            "279": {
              "inputs": {
                "noise_seed": 871927524295589
              },
              "class_type": "RandomNoise",
              "_meta": {
                "title": "RandomNoise"
              }
            },
            "280": {
              "inputs": {
                "video_latent": [
                  "290",
                  0
                ],
                "audio_latent": [
                  "309",
                  1
                ]
              },
              "class_type": "LTXVConcatAVLatent",
              "_meta": {
                "title": "LTXVConcatAVLatent"
              }
            },
            "281": {
              "inputs": {
                "ckpt_name": "ltx-2.3-22b-dev-fp8.safetensors"
              },
              "class_type": "LTXVAudioVAELoader",
              "_meta": {
                "title": "LTXV Audio VAE Loader"
              }
            },
            "282": {
              "inputs": {
                "sampler_name": "euler_cfg_pp"
              },
              "class_type": "KSamplerSelect",
              "_meta": {
                "title": "KSamplerSelect"
              }
            },
            "283": {
              "inputs": {
                "sigmas": "0.85, 0.7250, 0.4219, 0.0"
              },
              "class_type": "ManualSigmas",
              "_meta": {
                "title": "ManualSigmas"
              }
            },
            "284": {
              "inputs": {
                "cfg": 1,
                "model": [
                  "287",
                  0
                ],
                "positive": [
                  "286",
                  0
                ],
                "negative": [
                  "286",
                  1
                ]
              },
              "class_type": "CFGGuider",
              "_meta": {
                "title": "CFGGuider"
              }
            },
            "285": {
              "inputs": {
                "noise": [
                  "279",
                  0
                ],
                "guider": [
                  "316",
                  0
                ],
                "sampler": [
                  "293",
                  0
                ],
                "sigmas": [
                  "308",
                  0
                ],
                "latent_image": [
                  "324",
                  0
                ]
              },
              "class_type": "SamplerCustomAdvanced",
              "_meta": {
                "title": "SamplerCustomAdvanced"
              }
            },
            "286": {
              "inputs": {
                "positive": [
                  "306",
                  0
                ],
                "negative": [
                  "306",
                  1
                ],
                "latent": [
                  "309",
                  0
                ]
              },
              "class_type": "LTXVCropGuides",
              "_meta": {
                "title": "LTXVCropGuides"
              }
            },
            "287": {
              "inputs": {
                "lora_name": "ltx-2.3-22b-distilled-lora-384.safetensors",
                "strength_model": 0.5,
                "model": [
                  "318",
                  0
                ]
              },
              "class_type": "LoraLoaderModelOnly",
              "_meta": {
                "title": "Load LoRA"
              }
            },
            "288": {
              "inputs": {
                "longer_edge": 1536,
                "images": [
                  "292",
                  0
                ]
              },
              "class_type": "ResizeImagesByLongerEdge",
              "_meta": {
                "title": "Resize Images by Longer Edge"
              }
            },
            "289": {
              "inputs": {
                "samples": [
                  "309",
                  0
                ],
                "upscale_model": [
                  "313",
                  0
                ],
                "vae": [
                  "318",
                  2
                ]
              },
              "class_type": "LTXVLatentUpsampler",
              "_meta": {
                "title": "LTXVLatentUpsampler"
              }
            },
            "290": {
              "inputs": {
                "strength": 1,
                "bypass": [
                  "304",
                  0
                ],
                "vae": [
                  "318",
                  2
                ],
                "image": [
                  "291",
                  0
                ],
                "latent": [
                  "289",
                  0
                ]
              },
              "class_type": "LTXVImgToVideoInplace",
              "_meta": {
                "title": "LTXVImgToVideoInplace"
              }
            },
            "291": {
              "inputs": {
                "img_compression": 18,
                "image": [
                  "288",
                  0
                ]
              },
              "class_type": "LTXVPreprocess",
              "_meta": {
                "title": "LTXVPreprocess"
              }
            },
            "292": {
              "inputs": {
                "resize_type": "scale dimensions",
                "resize_type.width": [
                  "314",
                  0
                ],
                "resize_type.height": [
                  "301",
                  0
                ],
                "resize_type.crop": "center",
                "scale_method": "lanczos",
                "input": [
                  "269",
                  0
                ]
              },
              "class_type": "ResizeImageMaskNode",
              "_meta": {
                "title": "Resize Image/Mask"
              }
            },
            "293": {
              "inputs": {
                "sampler_name": "euler_ancestral_cfg_pp"
              },
              "class_type": "KSamplerSelect",
              "_meta": {
                "title": "KSamplerSelect"
              }
            },
            "294": {
              "inputs": {
                "expression": "a/2",
                "values.a": [
                  "314",
                  0
                ]
              },
              "class_type": "ComfyMathExpression",
              "_meta": {
                "title": "Math Expression"
              }
            },
            "296": {
              "inputs": {
                "expression": "a/2",
                "values.a": [
                  "301",
                  0
                ]
              },
              "class_type": "ComfyMathExpression",
              "_meta": {
                "title": "Math Expression"
              }
            },
            "297": {
              "inputs": {
                "width": [
                  "294",
                  1
                ],
                "height": [
                  "296",
                  1
                ],
                "length": [
                  "303",
                  0
                ],
                "batch_size": 1
              },
              "class_type": "EmptyLTXVLatentVideo",
              "_meta": {
                "title": "EmptyLTXVLatentVideo"
              }
            },
            "298": {
              "inputs": {
                "strength": 0.7,
                "bypass": [
                  "304",
                  0
                ],
                "vae": [
                  "318",
                  2
                ],
                "image": [
                  "291",
                  0
                ],
                "latent": [
                  "297",
                  0
                ]
              },
              "class_type": "LTXVImgToVideoInplace",
              "_meta": {
                "title": "LTXVImgToVideoInplace"
              }
            },
            "299": {
              "inputs": {
                "samples": [
                  "311",
                  1
                ],
                "audio_vae": [
                  "281",
                  0
                ]
              },
              "class_type": "LTXVAudioVAEDecode",
              "_meta": {
                "title": "LTXV Audio VAE Decode"
              }
            },
            "300": {
              "inputs": {
                "expression": "a",
                "values.a": [
                  "302",
                  0
                ]
              },
              "class_type": "ComfyMathExpression",
              "_meta": {
                "title": "Math Expression"
              }
            },
            "301": {
              "inputs": {
                "value": 720
              },
              "class_type": "PrimitiveInt",
              "_meta": {
                "title": "Height"
              }
            },
            "302": {
              "inputs": {
                "value": 24
              },
              "class_type": "PrimitiveInt",
              "_meta": {
                "title": "Frame Rate"
              }
            },
            "303": {
              "inputs": {
                "value": 200
              },
              "class_type": "PrimitiveInt",
              "_meta": {
                "title": "Length"
              }
            },
            "304": {
              "inputs": {
                "value": false
              },
              "class_type": "PrimitiveBoolean",
              "_meta": {
                "title": "Switch to Text to Video?"
              }
            },
            "305": {
              "inputs": {
                "text": [
                  "321",
                  0
                ],
                "clip": [
                  "319",
                  0
                ]
              },
              "class_type": "CLIPTextEncode",
              "_meta": {
                "title": "CLIP Text Encode (Prompt)"
              }
            },
            "306": {
              "inputs": {
                "frame_rate": [
                  "300",
                  0
                ],
                "positive": [
                  "305",
                  0
                ],
                "negative": [
                  "315",
                  0
                ]
              },
              "class_type": "LTXVConditioning",
              "_meta": {
                "title": "LTXVConditioning"
              }
            },
            "307": {
              "inputs": {
                "frames_number": [
                  "303",
                  0
                ],
                "frame_rate": [
                  "300",
                  1
                ],
                "batch_size": 1,
                "audio_vae": [
                  "281",
                  0
                ]
              },
              "class_type": "LTXVEmptyLatentAudio",
              "_meta": {
                "title": "LTXV Empty Latent Audio"
              }
            },
            "308": {
              "inputs": {
                "sigmas": "1.0, 0.99375, 0.9875, 0.98125, 0.975, 0.909375, 0.725, 0.421875, 0.0"
              },
              "class_type": "ManualSigmas",
              "_meta": {
                "title": "ManualSigmas"
              }
            },
            "309": {
              "inputs": {
                "av_latent": [
                  "285",
                  0
                ]
              },
              "class_type": "LTXVSeparateAVLatent",
              "_meta": {
                "title": "LTXVSeparateAVLatent"
              }
            },
            "310": {
              "inputs": {
                "noise": [
                  "278",
                  0
                ],
                "guider": [
                  "284",
                  0
                ],
                "sampler": [
                  "282",
                  0
                ],
                "sigmas": [
                  "283",
                  0
                ],
                "latent_image": [
                  "280",
                  0
                ]
              },
              "class_type": "SamplerCustomAdvanced",
              "_meta": {
                "title": "SamplerCustomAdvanced"
              }
            },
            "311": {
              "inputs": {
                "av_latent": [
                  "310",
                  0
                ]
              },
              "class_type": "LTXVSeparateAVLatent",
              "_meta": {
                "title": "LTXVSeparateAVLatent"
              }
            },
            "312": {
              "inputs": {
                "fps": [
                  "300",
                  0
                ],
                "images": [
                  "317",
                  0
                ],
                "audio": [
                  "299",
                  0
                ]
              },
              "class_type": "CreateVideo",
              "_meta": {
                "title": "Create Video"
              }
            },
            "313": {
              "inputs": {
                "model_name": "ltx-2.3-spatial-upscaler-x2-1.0.safetensors"
              },
              "class_type": "LatentUpscaleModelLoader",
              "_meta": {
                "title": "Load Latent Upscale Model"
              }
            },
            "314": {
              "inputs": {
                "value": 1280
              },
              "class_type": "PrimitiveInt",
              "_meta": {
                "title": "Width"
              }
            },
            "315": {
              "inputs": {
                "text": "music, speech, reportage, interview, banners, watemarks, animated logotype, nothing is happening, standing still, rigid body bends, rigid object deformation, unnatural bending of hard surfaces, static image, static fluid, statid liquid, warped mechanical parts, slowmo, reversed, walking backwards, noisy, film grain, blurred background, low-quality, standing idle, felt style, pixel art style, puppet animation, claymation style, stop-motion, watercolor painting, oil painting style, time-lapse, fade-out, fade-in, shot transition, scene transition, abrupt transition, jump cut, cut to another shot, multi-shot sequence, edit-like transition, dissolve transition, crossfade, montage, sudden scene change, frame blending between shots, jittery, shaky footage",
                "clip": [
                  "323",
                  1
                ]
              },
              "class_type": "CLIPTextEncode",
              "_meta": {
                "title": "CLIP Text Encode (Prompt)"
              }
            },
            "316": {
              "inputs": {
                "cfg": 1,
                "model": [
                  "287",
                  0
                ],
                "positive": [
                  "306",
                  0
                ],
                "negative": [
                  "306",
                  1
                ]
              },
              "class_type": "CFGGuider",
              "_meta": {
                "title": "CFGGuider"
              }
            },
            "317": {
              "inputs": {
                "tile_size": 768,
                "overlap": 64,
                "temporal_size": 4096,
                "temporal_overlap": 4,
                "samples": [
                  "311",
                  0
                ],
                "vae": [
                  "318",
                  2
                ]
              },
              "class_type": "VAEDecodeTiled",
              "_meta": {
                "title": "VAE Decode (Tiled)"
              }
            },
            "318": {
              "inputs": {
                "ckpt_name": "ltx-2.3-22b-dev.safetensors"
              },
              "class_type": "CheckpointLoaderSimple",
              "_meta": {
                "title": "Load Checkpoint"
              }
            },
            "319": {
              "inputs": {
                "text_encoder": "gemma_3_12B_it_fp4_mixed.safetensors",
                "ckpt_name": "ltx-2.3-22b-dev-fp8.safetensors",
                "device": "default"
              },
              "class_type": "LTXAVTextEncoderLoader",
              "_meta": {
                "title": "LTXV Audio Text Encoder Loader"
              }
            },
            "320": {
              "inputs": {
                "value": "{\"shot\":{\"composition\":\"The frame is a handheld low-angle shot from a small vessel, showing the rusted foreground railing slightly out of focus. The midground is dominated by the massive grey and yellow steel structure of the oil platform, rising vertically from the restless sea. The background features a vast, hazy horizon where the dark ocean meets a overcast, muted sky.\",\"camera_motion\":\"The camera exhibits a natural, amateurish handheld shake with slow, irregular swaying motion as if recorded from a moving boat. The camera performs a very subtle, slow push-in toward the central mass of the platform to emphasize its scale.\",\"film_grain\":\"The image contains visible digital noise and a slightly low-contrast texture typical of a 2014-era smartphone sensor.\",\"focus\":\"The visual focus is locked onto the complex iron lattice and service gantries of the platform, maintaining sharpness despite the subtle camera movement.\"},\"motion\":{\"primary_action\":\"The massive oil platform remains fixed and stationary, while the surrounding ocean surface exhibits rhythmic, heavy swells that move across the lower frame.\",\"secondary_motion\":\"The camera gently sways in rhythm with the waves, creating a slight shifting of the perspective against the distant horizon. Wisps of sea mist shift slowly across the middle levels of the structure.\",\"layered_motion\":\"The foreground railing moves slowly across the frame due to the boat's motion, while the massive platform in the midground remains largely stable. The background horizon exhibits a very slow, subtle vertical oscillation, creating a sense of depth and distance between the viewer and the platform.\"},\"continuity\":{\"anchored_elements\":\"The rusted metallic railing in the bottom foreground, the vertical posture of the platform's support columns, and the industrial yellow paint patches on the structure must remain consistent.\",\"spatial_consistency\":\"The camera maintains a stable eye-level of a person standing on a deck, with the composition axis aligned to the platform's vertical orientation. The relative distance between the boat's railing and the platform is preserved throughout the shot.\",\"readability\":\"The intricate steel girders of the platform and the horizontal line of the ocean horizon remain the clearest, most readable features in the frame.\"},\"cinematography\":{\"lighting\":\"Diffused, flat midday light creates soft, hazy shadows on the platform, emphasizing its cold, metallic texture and the atmospheric moisture in the air.\",\"tone\":\"The visual tone is authentic, gritty, and grounded in a utilitarian reality, characteristic of unedited mobile device footage.\"}}"
              },
              "class_type": "PrimitiveStringMultiline",
              "_meta": {
                "title": "Prompt"
              }
            },
            "321": {
              "inputs": {
                "prompt": [
                  "320",
                  0
                ],
                "max_length": 256,
                "sampling_mode": "on",
                "sampling_mode.temperature": 0.7,
                "sampling_mode.top_k": 64,
                "sampling_mode.top_p": 0.95,
                "sampling_mode.min_p": 0.05,
                "sampling_mode.repetition_penalty": 1.05,
                "sampling_mode.seed": 0,
                "clip": [
                  "323",
                  1
                ]
              },
              "class_type": "TextGenerateLTX2Prompt",
              "_meta": {
                "title": "TextGenerateLTX2Prompt"
              }
            },
            "322": {
              "inputs": {
                "preview_markdown": "",
                "preview_text": "",
                "previewMode": null,
                "source": [
                  "321",
                  0
                ]
              },
              "class_type": "PreviewAny",
              "_meta": {
                "title": "Preview as Text"
              }
            },
            "323": {
              "inputs": {
                "lora_name": "gemma-3-12b-it-abliterated_lora_rank64_bf16.safetensors",
                "strength_model": 1,
                "strength_clip": 1,
                "model": [
                  "318",
                  0
                ],
                "clip": [
                  "319",
                  0
                ]
              },
              "class_type": "LoraLoader",
              "_meta": {
                "title": "Load LoRA (Model and CLIP)"
              }
            },
            "324": {
              "inputs": {
                "video_latent": [
                  "298",
                  0
                ],
                "audio_latent": [
                  "307",
                  0
                ]
              },
              "class_type": "LTXVConcatAVLatent",
              "_meta": {
                "title": "LTXVConcatAVLatent"
              }
            }
          },
          "comfyUiMethod": "checkComfyUiI2VGenerationRequest",
          "runpodTemplateId": "liqhn0gkqo",
          "saveFilePath": "C:/Users/V/Desktop/Channels/LifeOfAPirate/VIDEOS/2026-04-04_Amogs/CLIPS/videoClips/Amogs_00000.mp4",
          "index": 0
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "112b8e42-7e71-4712-b799-ac6f0567f480",
  "activeVersionId": "112b8e42-7e71-4712-b799-ac6f0567f480",
  "versionCounter": 305,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-02-06T02:56:56.533Z",
      "createdAt": "2026-02-06T02:56:56.533Z",
      "role": "workflow:owner",
      "workflowId": "Or9eJruDbYcgW7rm",
      "projectId": "jyxvHYm2zz0wpNIZ",
      "project": {
        "updatedAt": "2026-02-03T20:00:07.843Z",
        "createdAt": "2026-02-03T19:58:35.642Z",
        "id": "jyxvHYm2zz0wpNIZ",
        "name": "Vladislav Kostromin <bad4rr@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "791bcae9-1f6e-48f2-9f28-d86a2c32ea27"
      }
    }
  ]
}