N8N_WORKFLOWS/qjuK57TR8IKSKuv9.json
{
  "updatedAt": "2026-04-06T19:34:55.895Z",
  "createdAt": "2026-03-18T23:37:51.202Z",
  "id": "qjuK57TR8IKSKuv9",
  "name": "Video Creation Progress Manager",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"channelsFolderPath\": \"\",\n  \"channelName\": \"\",\n  \"videoFolderName\": \"\",\n  \n  \"stage\": \"\",\n  \"status\": \"\",\n  \"error\": \"\",\n  \"message\":\"\",\n  \"expectedReadyTimeMinutes\": \"\",\n  \"currentNumberOfReadyItems\": 0,\n  \"requiredNumberOfReadyItems\": 0,\n  \"items\": []\n}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/VIDEOS/{{ $('Start').first().json.videoFolderName }}/stagesProgress.json",
            "fileAction": "read",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        464,
        352
      ],
      "name": "read stages progress",
      "id": "9fc9dc0d-27de-4923-ab7f-d0ee4a4080bf",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b64e06fc-1e20-4219-9516-477427053865",
              "leftValue": "={{ !$json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        352
      ],
      "id": "a868b6dd-db6e-46ff-bac8-fcfb0610f7f4",
      "name": "If file exists"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/VIDEOS/{{ $('Start').first().json.videoFolderName }}/stagesProgress.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ (()=>{\nreturn {\n\"stages\":{\n//  \"text\":{\n//    \"stageExecutions\": [\n//      {\n//        \"executionStatus\":\"not_started\",\n//        \"executionError\":null,\n//        \"executionStartedAt\":\"\",\n//        \"executionExpectedReadyTimeMinutes\":null,\n//        \"executionProgress\":{\n//          \"currentNumberOfReadyItems\":0,\n//          \"requiredNumberOfReadyItems\":null,\n//        },\n//    \"executionItems\":[\n//      {\n//       \"itemStatus\":null,\n//       \"itemError\": null,\n//       \"itemMetadata\":{\n//          \"itemName\":null,\n//          \"itemFilePath\":null,\n//        },\n//        \"itemContent\":{},\n//      }\n//    ]\n//      }\n//    ]\n//  },\n}\n}\n})() }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        768,
        448
      ],
      "name": "write stages progress file",
      "id": "c4576677-d73b-4b00-b423-7030010b9459",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/VIDEOS/{{ $('Start').first().json.videoFolderName }}/stagesProgress.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ $json }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1152,
        352
      ],
      "name": "write stages progress",
      "id": "aa4b4396-db2a-4813-8cb3-d74b7dc2877a",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const currentStages = $('read stages progress').item.json.stages\nconst thisStage = $('Start').item.json.stage;\nconst thisExecution = {}\n\nthisExecution.status = $('Start').item.json.status\nthisExecution.error = $('Start').item.json.error\nthisExecution.expectedReadyTime = $('Start').item.json.expectedReadyTimeMinutes\nthisExecution.requiredNumberOfReadyItems = $('Start').item.json.requiredNumberOfReadyItems\nthisExecution.currentNumberOfReadyItems = $('Start').item.json.currentNumberOfReadyItems\nthisExecution.lastMessage = $('Start').item.json.message\nthisExecution.messages = currentStages[thisStage].messages ?? []\nthisExecution.messages.unshift(thisExecution.lastMessage)\n\n\nconst stageExecutions = currentStages[thisStage].stageExecutions ?? []\nstageExecutions.unshift(thisExecution)\nreturn {\n  stages: {\n    [thisStage]: {\n      stageExecutions: stageExecutions,\n    },\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        192
      ],
      "id": "47095937-0a7f-4440-b933-6b4fedcc04ae",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "acc06f79-68cb-41e9-86a0-90e60127954b",
              "name": "stages",
              "value": "={{ (()=>{\nconst start = $('Start').first().json\nconst stages = {}\n\nstages[start.stage] = {\n\"status\":start.status,\n\"error\":start.error,\n\"rror\":start.expectedNumberOfReadyItems,\n}\n\nreturn stages\n})() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        352
      ],
      "id": "45d46fe7-c6e7-4c8d-b058-b384727d85eb",
      "name": "Form Stage"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "read stages progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read stages progress": {
      "main": [
        [
          {
            "node": "If file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file exists": {
      "main": [
        [
          {
            "node": "Form Stage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "write stages progress file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write stages progress file": {
      "main": [
        [
          {
            "node": "Form Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Form Stage": {
      "main": [
        [
          {
            "node": "write stages progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "channelsFolderPath": "C:/Users/V/Desktop/Channels",
          "channelName": "LifeOfAPirate",
          "videoFolderName": "2026-04-04_Amogs",
          "stage": "text",
          "status": "started",
          "error": "",
          "message": "Starting text generation workflow",
          "expectedReadyTimeMinutes": "5",
          "currentNumberOfReadyItems": 0,
          "requiredNumberOfReadyItems": 5,
          "items": []
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "d3223f7d-f7f8-407a-a2aa-052b550edb2d",
  "activeVersionId": "993157e8-93f7-426e-9f10-5084e5340ad2",
  "versionCounter": 700,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-18T23:37:51.205Z",
      "createdAt": "2026-03-18T23:37:51.205Z",
      "role": "workflow:owner",
      "workflowId": "qjuK57TR8IKSKuv9",
      "projectId": "jyxvHYm2zz0wpNIZ",
      "project": {
        "updatedAt": "2026-02-03T20:00:07.843Z",
        "createdAt": "2026-02-03T19:58:35.642Z",
        "id": "jyxvHYm2zz0wpNIZ",
        "name": "Vladislav Kostromin <bad4rr@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "791bcae9-1f6e-48f2-9f28-d86a2c32ea27"
      }
    }
  ]
}