N8N_WORKFLOWS/y85NX06omzRfmEaN.json
{
  "updatedAt": "2026-04-20T00:38:32.329Z",
  "createdAt": "2026-04-12T16:16:45.988Z",
  "id": "y85NX06omzRfmEaN",
  "name": "visuals – 1 – strategy",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jN0HNmDZY1IKD2vM-oIO3",
          "mode": "list",
          "cachedResultUrl": "/workflow/jN0HNmDZY1IKD2vM-oIO3",
          "cachedResultName": "Text file works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fileAction": "read",
            "filePath": "={{ $('Start').item.json.channelsFolderPath }}/{{ $('Start').item.json.channelName }}/VIDEOS/{{ $('Start').item.json.videoFolderName }}/TEXTS/{{ $('Start').item.json.videoFolderName }}.txt"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        320
      ],
      "id": "fd5d3c8a-7adb-4093-b020-2a17f7a8e67c",
      "name": "get full text"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').item.json.channelsFolderPath }}/{{ $('Start').item.json.channelName }}/VIDEOS/{{ $('Start').item.json.videoFolderName }}/selectedClusterPlan.json",
            "fileAction": "read",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        192,
        320
      ],
      "name": "get selectedClusterPlan",
      "id": "e019e799-02fe-46fd-808b-057159ff321f"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').item.json.channelsFolderPath }}/{{ $('Start').item.json.channelName }}/channelClusters.json",
            "fileAction": "read",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        384,
        320
      ],
      "name": "get channelClusters",
      "id": "ce88d512-ebf8-40ee-8b07-f3b959fcea9e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96d237f3-3ba5-44ec-b146-27aa68d672fb",
              "name": "selectedClusterRaw",
              "value": "={{ (()=>{\n\nreturn $json.clusters.filter(item => item.cluster_id==$('get selectedClusterPlan').item.json.selected_cluster.cluster_id)[0]\n\n})() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        320
      ],
      "id": "fd0e7666-cceb-4d5f-a12e-e7036589e8c5",
      "name": "set selectedClusterRaw"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2a05f780-8180-4388-bf98-c2e2e9bc625d",
                    "leftValue": "={{ !$json.selectedClusterRaw.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "found"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.selectedClusterRaw.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "bae47c32-7628-49d3-858d-253da5897247"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not found"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        320
      ],
      "id": "107ecebe-599d-4fab-be20-3799f6889a72",
      "name": "If Cluster Id Not Found"
    },
    {
      "parameters": {
        "errorMessage": "=<{{ $workflow.name }}>\nCluster Id Not Found in channelClusters.json"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        768,
        448
      ],
      "id": "7eeec7a9-789b-480b-ad9f-c516a17d174a",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "POST"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2160,
        160
      ],
      "id": "5cb4db66-f91a-4b6e-a9a3-1e04dba0f69c",
      "name": "Send HTTP Request2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('get all workflow params').last().json.visualsStrategyGenService == \"gemini\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "5ee75887-7518-4802-9c6e-47f913300963"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "gemini"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c4c3ce37-169a-4d45-bf04-1fbf84efb151",
                    "leftValue": "={{ $('get all workflow params').last().json.visualsStrategyGenService == \"openai\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "openai"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "05f5648d-1a6e-4f8d-97aa-2f4f035e56c5",
                    "leftValue": "={{ $('get all workflow params').last().json.visualsStrategyGenService == \"runpod\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "runpod"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1760,
        304
      ],
      "id": "572c76e6-81de-49e8-8f42-2eaaff2a2061",
      "name": "Switch Text Gen Service1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "POST"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2160,
        320
      ],
      "id": "0db9d40e-cc6d-4710-9802-cbe502304bfc",
      "name": "Send HTTP Request3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7b1f45-ffd1-4816-8ea5-50ac4d6d99dd",
              "name": "route",
              "value": "=http://{{ $env.PROXY_SERVER_IP }}:{{ $env.PROXY_SERVER_PORT }}/{{ $env.OPENAI_RESPONSES_ROUTE }}",
              "type": "string"
            },
            {
              "id": "fee53cab-9e2c-4f91-9df1-194cf4c05c0c",
              "name": "headers",
              "value": "={{ {\n\"Authorization\": \"Bearer \"+$env.OPENAI_API_KEY,\n\"X-Request-ID\": $json.id,\n\"X-Product-Key\" : $env.PRODUCT_KEY\n} }}",
              "type": "object"
            },
            {
              "id": "9c7aa001-b4ac-4f40-9d1f-60c1396beeab",
              "name": "body",
              "value": "={{ \n{\n  \"model\": $('get all workflow params').first().json.visualsStrategyGenModel,\n  \"input\": [\n    {\n      \"role\": \"system\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": $('get all workflow params').item.json.visualNarrationStrategyGenPrompt\n        }\n      ]\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"input_text\",\n          \"text\": $('combine into one object for visualNarrationStrategy').item.json.userJsonStringInput\n        }\n      ]\n    },\n  ],\n  \"text\": {\n    \"format\": {\n      \"type\": \"json_schema\",\n      \"name\": \"visual_narration_strategy\",\n      \"strict\": true,\n      \"schema\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"schema_version\": { \"type\": \"string\", \"enum\": [\"1.0\"] },\n          \"cluster_id\": { \"type\": \"string\" },\n          \"selected_narrative_mode\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"single_object_tour\",\n              \"top_list\",\n              \"process_explainer\",\n              \"comparison\",\n              \"broad_explainer\",\n              \"story_case_studies\",\n              \"life_inside_focus\"\n            ]\n          },\n          \"visual_goal\": { \"type\": \"string\" },\n          \"visual_evidence_style\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\",\n              \"enum\": [\"observational\", \"explanatory\", \"immersive\", \"comparative\"]\n            },\n            \"minItems\": 1,\n            \"maxItems\": 3\n          },\n          \"preferred_base_formats\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"observational_video\",\n                \"explanatory_graphic\",\n                \"archival_material\",\n                \"still_image\",\n                \"spatial_map\",\n                \"ui_data_visual\",\n                \"text_only_card\"\n              ]\n            },\n            \"minItems\": 1\n          },\n          \"secondary_base_formats\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"observational_video\",\n                \"explanatory_graphic\",\n                \"archival_material\",\n                \"still_image\",\n                \"spatial_map\",\n                \"ui_data_visual\",\n                \"text_only_card\"\n              ]\n            }\n          },\n          \"rare_base_formats\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"observational_video\",\n                \"explanatory_graphic\",\n                \"archival_material\",\n                \"still_image\",\n                \"spatial_map\",\n                \"ui_data_visual\",\n                \"text_only_card\"\n              ]\n            }\n          },\n          \"forbidden_base_formats\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\",\n              \"enum\": [\n                \"observational_video\",\n                \"explanatory_graphic\",\n                \"archival_material\",\n                \"still_image\",\n                \"spatial_map\",\n                \"ui_data_visual\",\n                \"text_only_card\"\n              ]\n            }\n          },\n          \"preferred_capture_styles\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"preferred_shot_families\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"preferred_explanatory_layers\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"continuity_rules\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"transition_rules\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"repetition_limits\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"tone_rules\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"usage_notes\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          },\n          \"avoid_notes\": {\n            \"type\": \"array\",\n            \"items\": { \"type\": \"string\" }\n          }\n        },\n        \"required\": [\n          \"schema_version\",\n          \"cluster_id\",\n          \"selected_narrative_mode\",\n          \"visual_goal\",\n          \"visual_evidence_style\",\n          \"preferred_base_formats\",\n          \"secondary_base_formats\",\n          \"rare_base_formats\",\n          \"forbidden_base_formats\",\n          \"preferred_capture_styles\",\n          \"preferred_shot_families\",\n          \"preferred_explanatory_layers\",\n          \"continuity_rules\",\n          \"transition_rules\",\n          \"repetition_limits\",\n          \"tone_rules\",\n          \"usage_notes\",\n          \"avoid_notes\"\n        ]\n      }\n    }\n  }\n}\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        320
      ],
      "id": "b22b5896-2c92-4c56-a5c1-e16d9d86ad60",
      "name": "form openai request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec7b1f45-ffd1-4816-8ea5-50ac4d6d99dd",
              "name": "route",
              "value": "=http://{{ $env.PROXY_SERVER_IP }}:{{ $env.PROXY_SERVER_PORT }}/{{ $env.GEMINI_RESPONSES_ROUTE }}",
              "type": "string"
            },
            {
              "id": "fee53cab-9e2c-4f91-9df1-194cf4c05c0c",
              "name": "headers",
              "value": "={{ {\n\"Authorization\": \"Bearer \"+$env.GOOGLE_API_KEY,\n\"X-Request-ID\": $json.id,\n\"X-Product-Key\": $env.PRODUCT_KEY\n} }}",
              "type": "object"
            },
            {
              "id": "9c7aa001-b4ac-4f40-9d1f-60c1396beeab",
              "name": "body",
              "value": "={{ \n{\n  \"model\": $('get all workflow params').first().json.visualsStrategyGenModel,\n  \"systemInstruction\": {\n    \"parts\": [\n      { \"text\": $('get all workflow params').item.json.visualNarrationStrategyGenPrompt }\n    ]\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        { \"text\": $('combine into one object for visualNarrationStrategy').item.json.userJsonStringInput},\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseMimeType\": \"application/json\",\n    \"responseJsonSchema\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"schema_version\": { \"type\": \"string\", \"enum\": [\"1.0\"] },\n        \"cluster_id\": { \"type\": \"string\" },\n        \"selected_narrative_mode\": {\n          \"type\": \"string\",\n          \"enum\": [\n            \"single_object_tour\",\n            \"top_list\",\n            \"process_explainer\",\n            \"comparison\",\n            \"broad_explainer\",\n            \"story_case_studies\",\n            \"life_inside_focus\"\n          ]\n        },\n        \"visual_goal\": { \"type\": \"string\" },\n        \"visual_evidence_style\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\"observational\", \"explanatory\", \"immersive\", \"comparative\"]\n          },\n          \"minItems\": 1,\n          \"maxItems\": 3\n        },\n        \"preferred_base_formats\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"observational_video\",\n              \"explanatory_graphic\",\n              \"archival_material\",\n              \"still_image\",\n              \"spatial_map\",\n              \"ui_data_visual\",\n              \"text_only_card\"\n            ]\n          },\n          \"minItems\": 1\n        },\n        \"secondary_base_formats\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"observational_video\",\n              \"explanatory_graphic\",\n              \"archival_material\",\n              \"still_image\",\n              \"spatial_map\",\n              \"ui_data_visual\",\n              \"text_only_card\"\n            ]\n          }\n        },\n        \"rare_base_formats\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"observational_video\",\n              \"explanatory_graphic\",\n              \"archival_material\",\n              \"still_image\",\n              \"spatial_map\",\n              \"ui_data_visual\",\n              \"text_only_card\"\n            ]\n          }\n        },\n        \"forbidden_base_formats\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"observational_video\",\n              \"explanatory_graphic\",\n              \"archival_material\",\n              \"still_image\",\n              \"spatial_map\",\n              \"ui_data_visual\",\n              \"text_only_card\"\n            ]\n          }\n        },\n        \"preferred_capture_styles\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"preferred_shot_families\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"preferred_explanatory_layers\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"continuity_rules\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"transition_rules\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"repetition_limits\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"tone_rules\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"usage_notes\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        },\n        \"avoid_notes\": {\n          \"type\": \"array\",\n          \"items\": { \"type\": \"string\" }\n        }\n      },\n      \"required\": [\n        \"schema_version\",\n        \"cluster_id\",\n        \"selected_narrative_mode\",\n        \"visual_goal\",\n        \"visual_evidence_style\",\n        \"preferred_base_formats\",\n        \"secondary_base_formats\",\n        \"rare_base_formats\",\n        \"forbidden_base_formats\",\n        \"preferred_capture_styles\",\n        \"preferred_shot_families\",\n        \"preferred_explanatory_layers\",\n        \"continuity_rules\",\n        \"transition_rules\",\n        \"repetition_limits\",\n        \"tone_rules\",\n        \"usage_notes\",\n        \"avoid_notes\"\n      ]\n    }\n  },\n  \"safetySettings\": [\n    { \"category\": \"HARM_CATEGORY_HARASSMENT\", \"threshold\": \"OFF\" },\n    { \"category\": \"HARM_CATEGORY_HATE_SPEECH\", \"threshold\": \"OFF\" },\n    { \"category\": \"HARM_CATEGORY_SEXUALLY_EXPLICIT\", \"threshold\": \"OFF\" },\n    { \"category\": \"HARM_CATEGORY_DANGEROUS_CONTENT\", \"threshold\": \"OFF\" }\n  ]\n}\n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        160
      ],
      "id": "28d73c79-2e66-4d0f-8c86-331ae4341524",
      "name": "form gemini request1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a87bf859-ddab-4646-8ad0-f236f6934c41",
                    "leftValue": "={{ !$json.hasField('error') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasField('error') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "180d372a-e366-448d-beeb-a91e1731f53f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2352,
        160
      ],
      "id": "e38fb286-fcbb-4590-a786-7c9991657ce0",
      "name": "was error2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a87bf859-ddab-4646-8ad0-f236f6934c41",
                    "leftValue": "={{ $json.hasField('error') ? $json.error==null : !$json.hasField('error') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasField('error') ? !$json.error==null : $json.hasField('error') }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "180d372a-e366-448d-beeb-a91e1731f53f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2352,
        320
      ],
      "id": "e85de440-2524-4bff-9f18-6c6244426bda",
      "name": "was error3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1af68585-863a-4943-bff7-f35629ad285f",
              "name": "visualNarrationStrategy",
              "value": "={{ $json.output[1].content[0].text.parseJson() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        320
      ],
      "id": "f4a50b93-76f9-4069-b941-bb2a4c649f07",
      "name": "Parse Openai Responce1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1af68585-863a-4943-bff7-f35629ad285f",
              "name": "visualNarrationStrategy",
              "value": "={{ $json.candidates[0].content.parts[0].text.parseJson() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        160
      ],
      "id": "91e551c7-0dd7-4be8-b004-d170e03a26c9",
      "name": "Parse Gemini Responce1"
    },
    {
      "parameters": {
        "errorMessage": "=<{{ $workflow.name }}>\nError exctracting clusters"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2544,
        448
      ],
      "id": "18fb2e01-5e8a-445b-9a68-2a234ac3bbfc",
      "name": "Stop and Error3"
    },
    {
      "parameters": {
        "content": "## Generating visualNarrationStrategy",
        "height": 768,
        "width": 2880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -128
      ],
      "id": "64e51d2b-5ec6-4d89-ac2a-008c7a2da0d1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/VIDEOS/{{ $('Start').first().json.videoFolderName }}/visualNarrationStrategy.json",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}",
            "fileAction": "read"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1184,
        320
      ],
      "name": "read visualNarrationStrategy",
      "id": "5d75909f-5e8b-4999-a599-45eaf9da2910",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/VIDEOS/{{ $('Start').first().json.videoFolderName }}/visualNarrationStrategy.json",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ $json.visualNarrationStrategy }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2736,
        320
      ],
      "name": "write visualNarrationStrategy",
      "id": "fa4c3798-d47a-4f83-9462-cdca619eeeca"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb34329b-1a28-47b6-a706-37ca20489776",
              "name": "userJsonStringInput",
              "value": "={{\n{\n\"topic_idea\":$('get selectedClusterPlan').item.json.topic_idea,\n\"full_video_text\":$('get full text').item.json.text,\n\"baseFormatSelectionPolicy\":$('get all workflow params').item.json.baseFormatSelectionPolicy,\n\"selectedClusterPlan\": $('get selectedClusterPlan').item.json,\n\"selectedClusterRaw\":$('set selectedClusterRaw').item.json.selectedClusterRaw\n}.toJsonString()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        320
      ],
      "id": "68e08a8a-f3ea-45c2-a12b-550ab4acd573",
      "name": "combine into one object for visualNarrationStrategy"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"channelsFolderPath\": \"\",\n  \"channelName\": \"\",\n  \"videoFolderName\": \"\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        320
      ],
      "id": "8fc62583-efe8-467b-b5cb-467a552153f3",
      "name": "Start"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5c063f82-db9b-4266-a438-4dd16eeb65b0",
                    "leftValue": "={{ $json.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not exist"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ !$json.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "5a492bc0-d832-4987-8c26-af89224ba8fe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "exist"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1376,
        320
      ],
      "id": "1eaa3a9d-8ad7-41f9-b554-614d15116099",
      "name": "if visualNarrationStrategy exist"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath }}/{{ $('Start').first().json.channelName }}/settings.json",
            "fileAction": "read",
            "keysToReturn": "={{ [\n\"clipGenType\",\n\n\"videoVisualMode\",\n\n\n\"visualsStrategyGenService\",\n\"visualsStrategyGenModel\",\n\n\"baseFormatSelectionPolicy\",\n\n\"visualNarrationStrategyGenPrompt\",\n\n\"textSegmentAnalyzePrompt\",\n\"visualBaseFormatWindowPlanningPrompt\",\n\n\"sceneBasedShotPlanningPrompt\",\n\"sceneBasedShotAllowedThreatments\",\n\n\"graphicBasedShotPlanningPrompt\",\n\"graphicBasedShotAllowedThreatments\",\n\n\"stillBasedShotPlanningPrompt\",\n\"stillBasedShotAllowedThreatments\",\n\n\"eachVisualMinScreenTimeMs\",\n\"eachVisualMaxScreenTimeMs\"\n] }}",
            "keysToWrite": "={{ {} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -192,
        320
      ],
      "name": "get all workflow params",
      "id": "7a3acd90-9400-4e67-828d-d06a2e1fe516"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6429e785-fed5-416f-8bc9-01d45fc6e3cb",
              "name": "id",
              "value": "={{ (()=>{\n  // 1) ТУТ ПРОСТО ВСТАВЛЯЕШЬ ЧТО ХОЧЕШЬ\n  const varsForId = [\n$('get all workflow params').item.json.baseFormatSelectionPolicy,\n$('get all workflow params').item.json.visualsStrategyGenModel,\n\n$('get all workflow params').item.json.visualNarrationStrategyGenPrompt,\n$('combine into one object for visualNarrationStrategy').item.json.userJsonStringInput\n  ];\n\n  // 2) нормализуем значения -> одна строка\n  function stable(v){\n    if (v === null || v === undefined) return \"\";\n    if (typeof v === \"string\") return v;\n    if (typeof v === \"number\" || typeof v === \"boolean\") return String(v);\n    if (Array.isArray(v)) return \"[\" + v.map(stable).join(\",\") + \"]\";\n    // объект: сортируем ключи для стабильности\n    const keys = Object.keys(v).sort();\n    return \"{\" + keys.map(k => JSON.stringify(k)+\":\"+stable(v[k])).join(\",\") + \"}\";\n  }\n\n  const s = varsForId.map(stable).join(\"|\");\n\n  // 3) FNV-1a 32-bit (2 раза, чтобы получить 16 hex)\n  function fnv1a32(str){\n    let h = 0x811c9dc5;\n    for (let i=0; i<str.length; i++){\n      h ^= str.charCodeAt(i);\n      h = Math.imul(h, 0x01000193);\n    }\n    return (h >>> 0);\n  }\n\n  const h1 = fnv1a32(s);\n  const h2 = fnv1a32(\"salt|\" + s);\n\n  const hex =\n    h1.toString(16).padStart(8,\"0\") +\n    h2.toString(16).padStart(8,\"0\");\n\n  return `${hex.slice(0,4)}-${hex.slice(4,8)}-${hex.slice(8,12)}-${hex.slice(12,16)}`;\n})() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        320
      ],
      "id": "d97ca127-34db-4f93-95d0-7f64ddaa39b8",
      "name": "get random ID"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2960,
        320
      ],
      "id": "d0eb137a-a89b-44f2-abba-d3cd1f107fb7",
      "name": "All done => visuals – 2 – analyze text segments"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1472,
        496
      ],
      "id": "84dbb4f7-f595-4124-8abb-31425378682b",
      "name": "Pass through => visuals – 2 – analyze text segments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fe8c2a9-96b4-4f1e-b2b8-4bc8734295ff",
              "name": "status",
              "value": "Pass through",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        496
      ],
      "id": "7765b56b-fd90-4b90-afda-f605b6c63ad1",
      "name": "Set pass through output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fe8c2a9-96b4-4f1e-b2b8-4bc8734295ff",
              "name": "status",
              "value": "All done",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3136,
        320
      ],
      "id": "064df9c2-20eb-456f-bac2-46538dc29144",
      "name": "Set all done output"
    }
  ],
  "connections": {
    "get full text": {
      "main": [
        [
          {
            "node": "get selectedClusterPlan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get selectedClusterPlan": {
      "main": [
        [
          {
            "node": "get channelClusters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get channelClusters": {
      "main": [
        [
          {
            "node": "set selectedClusterRaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set selectedClusterRaw": {
      "main": [
        [
          {
            "node": "If Cluster Id Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cluster Id Not Found": {
      "main": [
        [
          {
            "node": "combine into one object for visualNarrationStrategy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HTTP Request2": {
      "main": [
        [
          {
            "node": "was error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Text Gen Service1": {
      "main": [
        [
          {
            "node": "form gemini request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "form openai request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send HTTP Request3": {
      "main": [
        [
          {
            "node": "was error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form openai request1": {
      "main": [
        [
          {
            "node": "Send HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form gemini request1": {
      "main": [
        [
          {
            "node": "Send HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "was error2": {
      "main": [
        [
          {
            "node": "Parse Gemini Responce1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "was error3": {
      "main": [
        [
          {
            "node": "Parse Openai Responce1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Openai Responce1": {
      "main": [
        [
          {
            "node": "write visualNarrationStrategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Responce1": {
      "main": [
        [
          {
            "node": "write visualNarrationStrategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read visualNarrationStrategy": {
      "main": [
        [
          {
            "node": "if visualNarrationStrategy exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write visualNarrationStrategy": {
      "main": [
        [
          {
            "node": "All done => visuals – 2 – analyze text segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "combine into one object for visualNarrationStrategy": {
      "main": [
        [
          {
            "node": "read visualNarrationStrategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "get all workflow params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if visualNarrationStrategy exist": {
      "main": [
        [
          {
            "node": "get random ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass through => visuals – 2 – analyze text segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get all workflow params": {
      "main": [
        [
          {
            "node": "get full text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get random ID": {
      "main": [
        [
          {
            "node": "Switch Text Gen Service1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass through => visuals – 2 – analyze text segments": {
      "main": [
        [
          {
            "node": "Set pass through output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All done => visuals – 2 – analyze text segments": {
      "main": [
        [
          {
            "node": "Set all done output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Start": [
      {
        "json": {
          "channelsFolderPath": "C:/Users/V/Desktop/Channels",
          "channelName": "HistoryBranches",
          "videoFolderName": "2026-04-20_SAomD"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "da2adb6e-6ca6-40e3-b0d9-d85eb56f3da8",
  "activeVersionId": "da2adb6e-6ca6-40e3-b0d9-d85eb56f3da8",
  "versionCounter": 107,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-12T16:16:45.990Z",
      "createdAt": "2026-04-12T16:16:45.990Z",
      "role": "workflow:owner",
      "workflowId": "y85NX06omzRfmEaN",
      "projectId": "jyxvHYm2zz0wpNIZ",
      "project": {
        "updatedAt": "2026-02-03T20:00:07.843Z",
        "createdAt": "2026-02-03T19:58:35.642Z",
        "id": "jyxvHYm2zz0wpNIZ",
        "name": "Vladislav Kostromin <bad4rr@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "791bcae9-1f6e-48f2-9f28-d86a2c32ea27"
      }
    }
  ]
}