N8N_WORKFLOWS/Y9Gr3LteXJ819rv4.json
{
  "updatedAt": "2026-03-31T13:19:55.644Z",
  "createdAt": "2026-03-31T13:19:55.644Z",
  "id": "Y9Gr3LteXJ819rv4",
  "name": "Audio Dataset Generation For Qwen3-TTS – paralleling",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "ljH0uamrMfc4IBJx",
          "mode": "list",
          "cachedResultUrl": "/workflow/ljH0uamrMfc4IBJx",
          "cachedResultName": "http works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "route": "={{ $json.route }}",
            "headers": "={{ $json.headers }}",
            "body": "={{ $json.body }}",
            "method": "POST"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "method",
              "displayName": "method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "route",
              "displayName": "route",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "headers",
              "displayName": "headers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "once",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2512,
        -64
      ],
      "id": "d7684e0a-aa74-4c09-bd2f-d50b9be81488",
      "name": "Send HTTP Request",
      "disabled": false,
      "issues": {}
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "3OssCFgf2vTy8hKq",
          "mode": "list",
          "cachedResultUrl": "/workflow/3OssCFgf2vTy8hKq",
          "cachedResultName": "Media Binary File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "fileAction": "write",
            "filePath": "={{ $('Start').first().json.channelsFolderPath_firstItem }}/VOICE_LIBRARY/datasets/dataset_voice_01/{{ $('Start').item.json.file_stem }}.mp3"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "once",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2704,
        -64
      ],
      "id": "33c9d450-b9e4-468f-893f-8cd519ebe43d",
      "name": "write audio file",
      "disabled": false
    },
    {
      "parameters": {
        "operation": "call_workflow",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "qwG1pltFOQqqJLyh",
          "mode": "list",
          "cachedResultUrl": "/workflow/qwG1pltFOQqqJLyh",
          "cachedResultName": "JSON File Works"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "filePath": "={{ $('Start').first().json.channelsFolderPath_firstItem }}/VOICE_LIBRARY/datasets/dataset_voice_01/metadata/{{ $('Start').item.json.existingFilesNames }}",
            "fileAction": "write",
            "keysToReturn": "={{ [] }}",
            "keysToWrite": "={{ {\"generated_audio\":true} }}",
            "keysToDelete": "={{ [] }}"
          },
          "matchingColumns": [
            "channelsFolderPath_firstItem",
            "channelName_firstItem"
          ],
          "schema": [
            {
              "id": "filePath",
              "displayName": "filePath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "fileAction",
              "displayName": "fileAction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "keysToReturn",
              "displayName": "keysToReturn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "keysToWrite",
              "displayName": "keysToWrite",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "keysToDelete",
              "displayName": "keysToDelete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "once",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2896,
        -64
      ],
      "name": "set dataset item statuses",
      "id": "2dc8ee8e-1ad4-444b-827a-5f49d3b69807",
      "disabled": false
    },
    {
      "id": "565048f9-e9c4-4cf0-be6c-0ee0932e982b",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        2304,
        -64
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "route",
              "type": "any"
            },
            {
              "name": "headers",
              "type": "any"
            },
            {
              "name": "body",
              "type": "any"
            },
            {
              "name": "file_stem",
              "type": "any"
            },
            {
              "name": "channelsFolderPath_firstItem",
              "type": "any"
            },
            {
              "name": "existingFilesNames",
              "type": "any"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Send HTTP Request": {
      "main": [
        [
          {
            "node": "write audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "write audio file": {
      "main": [
        [
          {
            "node": "set dataset item statuses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Send HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ddc5aa3a-2d12-4c13-8aee-b666debe60c6",
  "activeVersionId": "ddc5aa3a-2d12-4c13-8aee-b666debe60c6",
  "versionCounter": 40,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-03-31T13:19:55.652Z",
      "createdAt": "2026-03-31T13:19:55.652Z",
      "role": "workflow:owner",
      "workflowId": "Y9Gr3LteXJ819rv4",
      "projectId": "jyxvHYm2zz0wpNIZ",
      "project": {
        "updatedAt": "2026-02-03T20:00:07.843Z",
        "createdAt": "2026-02-03T19:58:35.642Z",
        "id": "jyxvHYm2zz0wpNIZ",
        "name": "Vladislav Kostromin <bad4rr@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "791bcae9-1f6e-48f2-9f28-d86a2c32ea27"
      }
    }
  ]
}